.bg-light {
  /* color */
  --accordeon-wrap-border: #ffffff;
  --accordeon-body-bg-default: #f6f6f8;
  --accordeon-header-bg-active: #f6f6f8;
  --accordeon-header-bg-default: #f6f6f8;
  --accordeon-header-bg-hover: #ebebf0;
  --accordeon-title-active: #000000;
  --accordeon-title-default: #000000;
  --accordeon-title-hover: #000000;
  --alert-danger-border: #ffc7c4;
  --alert-danger-text: #79221d;
  --alert-danger-bg-light: #ffdad8;
  --alert-success-border: #bfeaca;
  --alert-success-text: #44694d;
  --alert-success-bg-light: #eaf8ed;
  --author-wrap-bg: #ebebf0;
  --bg-accent: #ebebf0;
  --bg-accent-2: #f6f6f8;
  --bg-default: #ffffff;
  --bg-transparent: #f4f4f9db;
  --border-default: #0000003d;
  --border-light: #0000001f;
  --button-filled-2-bg-default: #61adff;
  --button-filled-2-bg-disabled: #1e232d14;
  --button-filled-2-bg-hover: #5ba2ed;
  --button-filled-2-ic-default: #ffffff;
  --button-filled-2-ic-disabled: #1e232d52;
  --button-filled-2-ic-hover: #ffffff;
  --button-filled-2-ic-wrap-bg-default: #acd4ff;
  --button-filled-2-ic-wrap-bg-disabled: #ffffff;
  --button-filled-2-ic-wrap-bg-hover: #acd4ff;
  --button-filled-2-label-default: #ffffff;
  --button-filled-2-label-disabled: #1e232d52;
  --button-filled-2-label-hover: #ffffff;
  --button-filled-neutral-bg-default: #000000;
  --button-filled-neutral-bg-disabled: #1e232d14;
  --button-filled-neutral-bg-hover: #2b3341;
  --button-filled-neutral-ic-default: #ff4c30;
  --button-filled-neutral-ic-disabled: #1e232d52;
  --button-filled-neutral-ic-hover: #ff4c30;
  --button-filled-neutral-label-default: #ffffff;
  --button-filled-neutral-label-disabled: #1e232d52;
  --button-filled-neutral-label-hover: #ffffff;
  --button-filled-bg-default: #ff4c30;
  --button-filled-bg-disabled: #1e232d14;
  --button-filled-bg-hover: #e7361b;
  --button-filled-ic-default: #ffffff;
  --button-filled-ic-disabled: #1e232d52;
  --button-filled-ic-hover: #ffffff;
  --button-filled-ic-wrap-bg-default: #ffffff3d;
  --button-filled-ic-wrap-bg-disabled: #ffffff;
  --button-filled-ic-wrap-bg-hover: #ffffff3d;
  --button-filled-label-default: #ffffff;
  --button-filled-label-disabled: #1e232d52;
  --button-filled-label-hover: #ffffff;
  --button-input-bg-default: #ffffff;
  --button-input-bg-disabled: #1e232d14;
  --button-input-bg-hover: #2b3341;
  --button-input-bg-selected: #2b3341;
  --button-input-border-default: #c8d4e7;
  --button-input-border-disabled: #1e232d14;
  --button-input-border-hover: #2b3341;
  --button-input-border-selected: #2b3341;
  --button-input-ic-default: #ff4c30;
  --button-input-ic-disabled: #00000075;
  --button-input-ic-hover: #ffffff;
  --button-input-ic-selected: #ffffff;
  --button-input-label-default: #000000;
  --button-input-label-disabled: #1e232d52;
  --button-input-label-hover: #ffffff;
  --button-input-label-selected: #ffffff;
  --button-stroke-neutral-bg-default: #1e232d00;
  --button-stroke-neutral-bg-disabled: #1e232d00;
  --button-stroke-neutral-bg-hover: #1e232d00;
  --button-stroke-neutral-border-default: #00000029;
  --button-stroke-neutral-border-disabled: #1e232d29;
  --button-stroke-neutral-border-hover: #00000052;
  --button-stroke-neutral-ic-default: #ff4c30;
  --button-stroke-neutral-ic-disabled: #1e232d52;
  --button-stroke-neutral-ic-hover: #ff4c30;
  --button-stroke-neutral-ic-wrap-bg-default: #ebebf0;
  --button-stroke-neutral-ic-wrap-bg-disabled: #ebebf0;
  --button-stroke-neutral-ic-wrap-bg-hover: #ebebf0;
  --button-stroke-neutral-label-default: #000000;
  --button-stroke-neutral-label-disabled: #1e232d52;
  --button-stroke-neutral-label-hover: #000000;
  --button-stroke-bg-default: #1e232d00;
  --button-stroke-bg-disabled: #1e232d00;
  --button-stroke-bg-hover: #1e232d00;
  --button-stroke-border-default: #ff4c30;
  --button-stroke-border-disabled: #1e232d29;
  --button-stroke-border-hover: #ff4c30;
  --button-stroke-ic-default: #ff4c30;
  --button-stroke-ic-disabled: #1e232d52;
  --button-stroke-ic-hover: #ff4c30;
  --button-stroke-ic-wrap-bg-default: #ebebf0;
  --button-stroke-ic-wrap-bg-disabled: #ebebf0;
  --button-stroke-ic-wrap-bg-hover: #ebebf0;
  --button-stroke-label-default: #000000;
  --button-stroke-label-disabled: #1e232d52;
  --button-stroke-label-hover: #000000;
  --button-tint-bg-default: #788aad14;
  --button-tint-bg-disabled: #1e232d14;
  --button-tint-bg-hover: #788aad29;
  --button-tint-ic-default: #000000;
  --button-tint-ic-disabled: #1e232d52;
  --button-tint-ic-hover: #000000;
  --button-tint-ic-wrap-bg-default: #ffffff;
  --button-tint-ic-wrap-bg-disabled: #ffffff;
  --button-tint-ic-wrap-bg-hover: #ffffff;
  --button-tint-label-default: #000000;
  --button-tint-label-disabled: #1e232d52;
  --button-tint-label-hover: #000000;
  --button-transparent-bg-deafult: #1e232d00;
  --button-transparent-bg-disabled: #1e232d00;
  --button-transparent-bg-hover: #788aad29;
  --button-transparent-ic-default: #ff4c30;
  --button-transparent-ic-disabled: #1e232d52;
  --button-transparent-ic-hover: #ff4c30;
  --button-transparent-label-default: #000000;
  --button-transparent-label-disabled: #1e232d52;
  --button-transparent-label-hover: #000000;
  --card-bg-color-default: #ff4c30;
  --card-bg-color-hover: #e7361b;
  --card-bg-color2-default: #ffb3a8;
  --card-bg-color2-hover: #ff9f90;
  --card-bg-default: #f6f6f8;
  --card-bg-hover: #f6f6f8;
  --checkbox-fill-cheched: #61adff;
  --checkbox-fill-cheched-hover: #5ba2ed;
  --checkbox-fill-default: #ffffff;
  --checkbox-fill-disabled: #1e232d14;
  --checkbox-fill-disabled-checked: #1e232d29;
  --checkbox-ic-checked: #ffffff;
  --checkbox-ic-disabled-checked: #ffffff;
  --checkbox-stroke-cheched: #61adff;
  --checkbox-stroke-cheched-hover: #5ba2ed;
  --checkbox-stroke-default: #c8d4e7;
  --checkbox-stroke-disabled: #1e232d14;
  --checkbox-stroke-disabled-checked: #1e232d00;
  --checkbox-stroke-hover: #99b6eb;
  --drop-menu-bg: #ffffff;
  --drop-menu-border: #0000001f;
  --drop-menu-label-default: #000000;
  --drop-menu-label-hover: #e7361b;
  --drop-shadow-default: #1e232d14;
  --drop-shadow-default-2: #1e232d14;
  --drop-shadow-error-focused: #ff6a6129;
  --drop-shadow-focused: #ff4c3029;
  --form-bg-disabled: #1e232d14;
  --form-bg-enabled: #ffffff;
  --form-bg-focused: #ffffff;
  --form-border-disabled: #788aad14;
  --form-border-enabled: #e1e1ef;
  --form-border-error: #ffb5b0;
  --form-border-error-focused: #ff453a;
  --form-border-error-hover: #ff8f89;
  --form-border-focused: #ff4c30;
  --form-border-hover: #ff4c30;
  --form-ic-enabled: #0000005c;
  --form-ic-filled: #0000005c;
  --form-label-enabled: #000000;
  --form-label-filled: #00000075;
  --form-select-item-enabled: #ffffff;
  --form-select-item-hover: #f6f6f8;
  --form-select-item-selected: #ebebf0;
  --header-main-bg: #f6f6f8;
  --header-main-border: #f4f4f9db;
  --header-top-bg: #ffffff;
  --header-top-border: #ffffff;
  --icon-bg: #ebebf0;
  --icon-default: #ff4c30;
  --link-ext-ic-wrap-bg: #ffffff;
  --logo-footer: #000000;
  --logo-header: #000000;
  --modal-body-bg: #ffffff;
  --modal-header-bg: #ffffff;
  --nav-decoration: #ff4c30;
  --nav-link-bg-current: #ffffff00;
  --nav-link-bg-default: #ffffff00;
  --nav-link-bg-hover: #ffffff00;
  --nav-link-ic-current: #ff4c30;
  --nav-link-ic-default: #000000;
  --nav-link-ic-default-light: #ff4c30;
  --nav-link-ic-hover: #ff4c30;
  --nav-link-label-current: #ff4c30;
  --nav-link-label-current-light: #ff4c30;
  --nav-link-label-default: #000000;
  --nav-link-label-default-light: #000000b2;
  --nav-link-label-hover: #ff4c30;
  --nav-pill-bg-current: #e7361b;
  --nav-pill-bg-default: #ffffff;
  --nav-pill-bg-hover: #ffffff;
  --nav-pill-border-current: #e7361b;
  --nav-pill-border-default: #0000001f;
  --nav-pill-border-hover: #0000003d;
  --nav-pill-ic-current: #ffffff;
  --nav-pill-ic-default: #000000;
  --nav-pill-ic-default-light: #ff4c30;
  --nav-pill-ic-hover: #e7361b;
  --nav-pill-label-current: #ffffff;
  --nav-pill-label-default: #000000;
  --nav-pill-label-default-light: #00000075;
  --nav-pill-label-hover: #ff4c30;
  --offcanvas-body-bg: #ffffff;
  --offcanvas-header-bg: #ffffff;
  --overlay-blur: #dcf2d7cc;
  --overlay-default: #1e232d99;
  --overlay-on-img: #1e232d00;
  --pagination-bg-current: #ff4c30;
  --pagination-bg-default: #ffffff;
  --pagination-bg-disabled: #ffffff;
  --pagination-bg-hover: #f6f6f8;
  --pagination-border-current: #ebebf0;
  --pagination-border-default: #0000001f;
  --pagination-border-hover: #ebebf0;
  --pagination-label-current: #ffffff;
  --pagination-label-default: #000000;
  --pagination-label-disabled: #0000005c;
  --pagination-label-hover: #000000;
  --pagination-wrap-border: #ffffff;
  --primary-default: #ff4c30;
  --social-border-default: #000000;
  --social-border-hover: #ff4c30;
  --social-fill-default: #000000;
  --social-fill-hover: #ff4c30;
  --social-ic-default: #ffffff;
  --social-ic-hover: #ffffff;
  --steps-bg: #ffffff;
  --steps-border: #0000003d;
  --steps-text: #000000;
  --table-wrap-border: #ffffff;
  --table-bg-default: #ffffff;
  --table-bg-striped: #ebebf0;
  --text-accent: #acd4ff;
  --text-brand: #ff4c30;
  --text-brand-dark: #e7361b;
  --text-danger: #ff453a;
  --text-default: #000000;
  --text-disabled: #0000005c;
  --text-light: #000000b2;
  --text-light-2: #00000075;
  --text-link: #ff4c30;
  --text-link-hover: #e7361b;
  --text-link-vizited: #e7361b;
  --up-button-bg-default: #ffffff;
  --up-button-bg-hover: #f6f6f8;
  --up-button-label-default: #000000b2;
  --up-button-label-hover: #000000;
  /* number */
  --social-opacity-default: 90px;
  --social-opacity-hover: 100px;
}
.bg-light-2 {
  /* color */
  --accordeon-wrap-border: #ebebf0;
  --accordeon-body-bg-default: #ffffff;
  --accordeon-header-bg-active: #ffffff;
  --accordeon-header-bg-default: #ffffff;
  --accordeon-header-bg-hover: #f6f6fa;
  --accordeon-title-active: #1e232d;
  --accordeon-title-default: #1e232d;
  --accordeon-title-hover: #1e232d;
  --alert-danger-border: #ffc7c4;
  --alert-danger-text: #79221d;
  --alert-danger-bg-light: #ffdad8;
  --alert-success-border: #bfeaca;
  --alert-success-text: #44694d;
  --alert-success-bg-light: #eaf8ed;
  --author-wrap-bg: #f6f6fa;
  --bg-accent: #f6f6fa;
  --bg-accent-2: #ffffff;
  --bg-default: #ebebf0;
  --bg-transparent: #ffffffcc;
  --border-default: #0000003d;
  --border-light: #0000001f;
  --button-filled-2-bg-default: #61adff;
  --button-filled-2-bg-disabled: #1e232d14;
  --button-filled-2-bg-hover: #5ba2ed;
  --button-filled-2-ic-default: #ffffff;
  --button-filled-2-ic-disabled: #1e232d52;
  --button-filled-2-ic-hover: #ffffff;
  --button-filled-2-ic-wrap-bg-default: #acd4ff;
  --button-filled-2-ic-wrap-bg-disabled: #ffffff;
  --button-filled-2-ic-wrap-bg-hover: #acd4ff;
  --button-filled-2-label-default: #ffffff;
  --button-filled-2-label-disabled: #1e232d52;
  --button-filled-2-label-hover: #ffffff;
  --button-filled-neutral-bg-default: #000000;
  --button-filled-neutral-bg-disabled: #1e232d14;
  --button-filled-neutral-bg-hover: #2b3341;
  --button-filled-neutral-ic-default: #ff4c30;
  --button-filled-neutral-ic-disabled: #1e232d52;
  --button-filled-neutral-ic-hover: #ff4c30;
  --button-filled-neutral-label-default: #ffffff;
  --button-filled-neutral-label-disabled: #1e232d52;
  --button-filled-neutral-label-hover: #ffffff;
  --button-filled-bg-default: #ff4c30;
  --button-filled-bg-disabled: #1e232d14;
  --button-filled-bg-hover: #e7361b;
  --button-filled-ic-default: #ffffff;
  --button-filled-ic-disabled: #1e232d52;
  --button-filled-ic-hover: #ffffff;
  --button-filled-ic-wrap-bg-default: #ffffff3d;
  --button-filled-ic-wrap-bg-disabled: #ffffff;
  --button-filled-ic-wrap-bg-hover: #ffffff3d;
  --button-filled-label-default: #ffffff;
  --button-filled-label-disabled: #1e232d52;
  --button-filled-label-hover: #ffffff;
  --button-input-bg-default: #ebebf0;
  --button-input-bg-disabled: #1e232d14;
  --button-input-bg-hover: #2b3341;
  --button-input-bg-selected: #2b3341;
  --button-input-border-default: #c8d4e7;
  --button-input-border-disabled: #1e232d14;
  --button-input-border-hover: #2b3341;
  --button-input-border-selected: #2b3341;
  --button-input-ic-default: #ff4c30;
  --button-input-ic-disabled: #858d9d;
  --button-input-ic-hover: #ffffff;
  --button-input-ic-selected: #ffffff;
  --button-input-label-default: #1e232d;
  --button-input-label-disabled: #1e232d52;
  --button-input-label-hover: #ffffff;
  --button-input-label-selected: #ffffff;
  --button-stroke-neutral-bg-default: #1e232d00;
  --button-stroke-neutral-bg-disabled: #1e232d00;
  --button-stroke-neutral-bg-hover: #1e232d00;
  --button-stroke-neutral-border-default: #00000029;
  --button-stroke-neutral-border-disabled: #1e232d29;
  --button-stroke-neutral-border-hover: #00000052;
  --button-stroke-neutral-ic-default: #ff4c30;
  --button-stroke-neutral-ic-disabled: #1e232d52;
  --button-stroke-neutral-ic-hover: #ff4c30;
  --button-stroke-neutral-ic-wrap-bg-default: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-disabled: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-hover: #ffffff;
  --button-stroke-neutral-label-default: #1e232d;
  --button-stroke-neutral-label-disabled: #1e232d52;
  --button-stroke-neutral-label-hover: #1e232d;
  --button-stroke-bg-default: #1e232d00;
  --button-stroke-bg-disabled: #1e232d00;
  --button-stroke-bg-hover: #1e232d00;
  --button-stroke-border-default: #ff4c30;
  --button-stroke-border-disabled: #1e232d29;
  --button-stroke-border-hover: #ff4c30;
  --button-stroke-ic-default: #ff4c30;
  --button-stroke-ic-disabled: #1e232d52;
  --button-stroke-ic-hover: #ff4c30;
  --button-stroke-ic-wrap-bg-default: #ffffff;
  --button-stroke-ic-wrap-bg-disabled: #ffffff;
  --button-stroke-ic-wrap-bg-hover: #ffffff;
  --button-stroke-label-default: #1e232d;
  --button-stroke-label-disabled: #1e232d52;
  --button-stroke-label-hover: #1e232d;
  --button-tint-bg-default: #788aad14;
  --button-tint-bg-disabled: #1e232d14;
  --button-tint-bg-hover: #788aad29;
  --button-tint-ic-default: #1e232d;
  --button-tint-ic-disabled: #1e232d52;
  --button-tint-ic-hover: #1e232d;
  --button-tint-ic-wrap-bg-default: #ffffff;
  --button-tint-ic-wrap-bg-disabled: #ffffff;
  --button-tint-ic-wrap-bg-hover: #ffffff;
  --button-tint-label-default: #1e232d;
  --button-tint-label-disabled: #1e232d52;
  --button-tint-label-hover: #1e232d;
  --button-transparent-bg-deafult: #1e232d00;
  --button-transparent-bg-disabled: #1e232d00;
  --button-transparent-bg-hover: #788aad29;
  --button-transparent-ic-default: #ff553b;
  --button-transparent-ic-disabled: #1e232d52;
  --button-transparent-ic-hover: #ff553b;
  --button-transparent-label-default: #1e232d;
  --button-transparent-label-disabled: #1e232d52;
  --button-transparent-label-hover: #1e232d;
  --card-bg-color-default: #ff4c30;
  --card-bg-color-hover: #e7361b;
  --card-bg-color2-default: #ffb3a8;
  --card-bg-color2-hover: #ffb3a8;
  --card-bg-default: #ffffff;
  --card-bg-hover: #ffffff;
  --checkbox-fill-cheched: #61adff;
  --checkbox-fill-cheched-hover: #5ba2ed;
  --checkbox-fill-default: #ebebf0;
  --checkbox-fill-disabled: #1e232d14;
  --checkbox-fill-disabled-checked: #1e232d29;
  --checkbox-ic-checked: #ffffff;
  --checkbox-ic-disabled-checked: #ffffff;
  --checkbox-stroke-cheched: #61adff;
  --checkbox-stroke-cheched-hover: #5ba2ed;
  --checkbox-stroke-default: #c8d4e7;
  --checkbox-stroke-disabled: #1e232d29;
  --checkbox-stroke-disabled-checked: #1e232d00;
  --checkbox-stroke-hover: #99b6eb;
  --drop-menu-bg: #ffffff;
  --drop-menu-border: #0000001f;
  --drop-menu-label-default: #1e232d;
  --drop-menu-label-hover: #f45036;
  --drop-shadow-default: #1e232d14;
  --drop-shadow-default-2: #1e232d14;
  --drop-shadow-error-focused: #ff6a6129;
  --drop-shadow-focused: #ff4c3029;
  --form-bg-disabled: #1e232d14;
  --form-bg-enabled: #ffffff;
  --form-bg-focused: #ffffff;
  --form-border-disabled: #0000003d;
  --form-border-enabled: #dfdfed;
  --form-border-error: #ffb5b0;
  --form-border-error-focused: #ff453a;
  --form-border-error-hover: #ff8f89;
  --form-border-focused: #ff4c30;
  --form-border-hover: #ff4c30;
  --form-ic-enabled: #96a3b7;
  --form-ic-filled: #96a3b7;
  --form-label-enabled: #1e232d;
  --form-label-filled: #858d9d;
  --form-select-item-enabled: #ffffff;
  --form-select-item-hover: #f6f6fa;
  --form-select-item-selected: #ebebf0;
  --header-main-bg: #ebebf0;
  --header-main-border: #ebebf0;
  --header-top-bg: #ebebf0;
  --header-top-border: #ebebf0;
  --icon-bg: #ffffff;
  --icon-default: #ff4c30;
  --link-ext-ic-wrap-bg: #ebebf0;
  --logo-footer: #000000;
  --logo-header: #000000;
  --modal-body-bg: #f6f6fa;
  --modal-header-bg: #f6f6fa;
  --nav-decoration: #ff4c30;
  --nav-link-bg-current: #ffffff00;
  --nav-link-bg-default: #ffffff00;
  --nav-link-bg-hover: #ffffff00;
  --nav-link-ic-current: #ff4c30;
  --nav-link-ic-default: #1e232d;
  --nav-link-ic-default-light: #ff4c30;
  --nav-link-ic-hover: #ff4c30;
  --nav-link-label-current: #ff553b;
  --nav-link-label-current-light: #ff553b;
  --nav-link-label-default: #1e232d;
  --nav-link-label-default-light: #384153;
  --nav-link-label-hover: #ff553b;
  --nav-pill-bg-current: #e7361b;
  --nav-pill-bg-default: #ebebf0;
  --nav-pill-bg-hover: #ebebf0;
  --nav-pill-border-current: #ff4c30;
  --nav-pill-border-default: #0000001f;
  --nav-pill-border-hover: #0000003d;
  --nav-pill-ic-current: #ffffff;
  --nav-pill-ic-default: #1e232d;
  --nav-pill-ic-default-light: #1e232d;
  --nav-pill-ic-hover: #e7361b;
  --nav-pill-label-current: #ffffff;
  --nav-pill-label-default: #1e232d;
  --nav-pill-label-default-light: #858d9d;
  --nav-pill-label-hover: #ff553b;
  --offcanvas-body-bg: #ebebf0;
  --offcanvas-header-bg: #ebebf0;
  --overlay-blur: #dcf2d7cc;
  --overlay-default: #1e232d99;
  --overlay-on-img: #1e232d00;
  --pagination-bg-current: #ff4c30;
  --pagination-bg-default: #ebebf0;
  --pagination-bg-disabled: #ebebf0;
  --pagination-bg-hover: #ffffff;
  --pagination-border-current: #f6f6fa;
  --pagination-border-default: #0000001f;
  --pagination-border-hover: #f6f6fa;
  --pagination-label-current: #ffffff;
  --pagination-label-default: #1e232d;
  --pagination-label-disabled: #96a3b7;
  --pagination-label-hover: #1e232d;
  --pagination-wrap-border: #ebebf0;
  --primary-default: #ff4c30;
  --social-border-default: #000000;
  --social-border-hover: #ff4c30;
  --social-fill-default: #000000;
  --social-fill-hover: #ff4c30;
  --social-ic-default: #ffffff;
  --social-ic-hover: #ffffff;
  --steps-bg: #ebebf0;
  --steps-border: #0000003d;
  --steps-text: #1e232d;
  --table-wrap-border: #ebebf0;
  --table-bg-default: #ebebf0;
  --table-bg-striped: #f6f6fa;
  --text-accent: #acd4ff;
  --text-brand: #ff553b;
  --text-brand-dark: #f45036;
  --text-danger: #ff453a;
  --text-default: #1e232d;
  --text-disabled: #96a3b7;
  --text-light: #384153;
  --text-light-2: #858d9d;
  --text-link: #ff553b;
  --text-link-hover: #f45036;
  --text-link-vizited: #ff8572;
  --up-button-bg-default: #ffffff;
  --up-button-bg-hover: #f6f6fa;
  --up-button-label-default: #858d9d;
  --up-button-label-hover: #1e232d;
  /* number */
  --social-opacity-default: 90px;
  --social-opacity-hover: 100px;
}
.bg-dark {
  /* color */
  --accordeon-wrap-border: #1c1c1e;
  --accordeon-body-bg-default: #393939;
  --accordeon-header-bg-active: #393939;
  --accordeon-header-bg-default: #393939;
  --accordeon-header-bg-hover: #2c2c2e;
  --accordeon-title-active: #ffffff;
  --accordeon-title-default: #ffffff;
  --accordeon-title-hover: #ffffff;
  --alert-danger-border: #ffc7c4;
  --alert-danger-text: #79221d;
  --alert-danger-bg-light: #ffdad8;
  --alert-success-border: #aae3b8;
  --alert-success-text: #eaf8ed;
  --alert-success-bg-light: #769c80;
  --author-wrap-bg: #2c2c2e;
  --bg-accent: #2c2c2e;
  --bg-accent-2: #393939;
  --bg-default: #1c1c1e;
  --bg-transparent: #3a3a3acc;
  --border-default: #ffffff7a;
  --border-light: #ffffff3d;
  --button-filled-2-bg-default: #61adff;
  --button-filled-2-bg-disabled: #384153;
  --button-filled-2-bg-hover: #5ba2ed;
  --button-filled-2-ic-default: #ffffff;
  --button-filled-2-ic-disabled: #ffffff52;
  --button-filled-2-ic-hover: #ffffff;
  --button-filled-2-ic-wrap-bg-default: #acd4ff;
  --button-filled-2-ic-wrap-bg-disabled: #ffffff14;
  --button-filled-2-ic-wrap-bg-hover: #acd4ff;
  --button-filled-2-label-default: #ffffff;
  --button-filled-2-label-disabled: #ffffff52;
  --button-filled-2-label-hover: #ffffff;
  --button-filled-neutral-bg-default: #2b3341;
  --button-filled-neutral-bg-disabled: #384153;
  --button-filled-neutral-bg-hover: #1e232d;
  --button-filled-neutral-ic-default: #ff4c30;
  --button-filled-neutral-ic-disabled: #ffffff52;
  --button-filled-neutral-ic-hover: #ff4c30;
  --button-filled-neutral-label-default: #ffffff;
  --button-filled-neutral-label-disabled: #ffffff52;
  --button-filled-neutral-label-hover: #ffffff;
  --button-filled-bg-default: #ff4c30;
  --button-filled-bg-disabled: #384153;
  --button-filled-bg-hover: #e7361b;
  --button-filled-ic-default: #ffffff;
  --button-filled-ic-disabled: #ffffff52;
  --button-filled-ic-hover: #ffffff;
  --button-filled-ic-wrap-bg-default: #ffffff3d;
  --button-filled-ic-wrap-bg-disabled: #ffffff14;
  --button-filled-ic-wrap-bg-hover: #ffffff3d;
  --button-filled-label-default: #ffffff;
  --button-filled-label-disabled: #ffffff52;
  --button-filled-label-hover: #ffffff;
  --button-input-bg-default: #ffffff00;
  --button-input-bg-disabled: #ffffff00;
  --button-input-bg-hover: #1e232d;
  --button-input-bg-selected: #1e232d;
  --button-input-border-default: #ffffff1f;
  --button-input-border-disabled: #ffffff29;
  --button-input-border-hover: #1e232d;
  --button-input-border-selected: #1e232d;
  --button-input-ic-default: #ff4c30;
  --button-input-ic-disabled: #ffffff52;
  --button-input-ic-hover: #ff4c30;
  --button-input-ic-selected: #ff4c30;
  --button-input-label-default: #ffffff;
  --button-input-label-disabled: #ffffff52;
  --button-input-label-hover: #ffffff;
  --button-input-label-selected: #ffffff;
  --button-stroke-neutral-bg-default: #ffffff29;
  --button-stroke-neutral-bg-disabled: #ffffff00;
  --button-stroke-neutral-bg-hover: #ffffff29;
  --button-stroke-neutral-border-default: #ffffff52;
  --button-stroke-neutral-border-disabled: #ffffff29;
  --button-stroke-neutral-border-hover: #ffffff99;
  --button-stroke-neutral-ic-default: #ff4c30;
  --button-stroke-neutral-ic-disabled: #ffffff52;
  --button-stroke-neutral-ic-hover: #ff4c30;
  --button-stroke-neutral-ic-wrap-bg-default: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-disabled: #ffffff14;
  --button-stroke-neutral-ic-wrap-bg-hover: #ffffff;
  --button-stroke-neutral-label-default: #ffffff;
  --button-stroke-neutral-label-disabled: #ffffff52;
  --button-stroke-neutral-label-hover: #ffffff;
  --button-stroke-bg-default: #ffffff00;
  --button-stroke-bg-disabled: #ffffff00;
  --button-stroke-bg-hover: #ffffff00;
  --button-stroke-border-default: #ff4c30;
  --button-stroke-border-disabled: #ffffff29;
  --button-stroke-border-hover: #ff4c30;
  --button-stroke-ic-default: #ff4c30;
  --button-stroke-ic-disabled: #ffffff52;
  --button-stroke-ic-hover: #ff4c30;
  --button-stroke-ic-wrap-bg-default: #ffffff;
  --button-stroke-ic-wrap-bg-disabled: #ffffff14;
  --button-stroke-ic-wrap-bg-hover: #ffffff;
  --button-stroke-label-default: #ffffff;
  --button-stroke-label-disabled: #ffffff52;
  --button-stroke-label-hover: #ffffff;
  --button-tint-bg-default: #ffffff14;
  --button-tint-bg-disabled: #384153;
  --button-tint-bg-hover: #ffffff0a;
  --button-tint-ic-default: #ffffff;
  --button-tint-ic-disabled: #ffffff52;
  --button-tint-ic-hover: #ffffff;
  --button-tint-ic-wrap-bg-default: #ffffff14;
  --button-tint-ic-wrap-bg-disabled: #ffffff14;
  --button-tint-ic-wrap-bg-hover: #ffffff0a;
  --button-tint-label-default: #ffffff;
  --button-tint-label-disabled: #ffffff52;
  --button-tint-label-hover: #ffffff;
  --button-transparent-bg-deafult: #ffffff00;
  --button-transparent-bg-disabled: #ffffff00;
  --button-transparent-bg-hover: #cdeac514;
  --button-transparent-ic-default: #ff4c30;
  --button-transparent-ic-disabled: #ffffff52;
  --button-transparent-ic-hover: #ff4c30;
  --button-transparent-label-default: #ffffff;
  --button-transparent-label-disabled: #ffffff52;
  --button-transparent-label-hover: #ffffff;
  --card-bg-color-default: #ff4c30;
  --card-bg-color-hover: #e7361b;
  --card-bg-color2-default: #ffb3a8;
  --card-bg-color2-hover: #ff9f90;
  --card-bg-default: #393939;
  --card-bg-hover: #2c2c2e;
  --checkbox-fill-cheched: #61adff;
  --checkbox-fill-cheched-hover: #5ba2ed;
  --checkbox-fill-default: #1c1c1e;
  --checkbox-fill-disabled: #ffffff14;
  --checkbox-fill-disabled-checked: #384153;
  --checkbox-ic-checked: #ffffff;
  --checkbox-ic-disabled-checked: #ffffff99;
  --checkbox-stroke-cheched: #61adff;
  --checkbox-stroke-cheched-hover: #5ba2ed;
  --checkbox-stroke-default: #ffffff3d;
  --checkbox-stroke-disabled: #ffffff14;
  --checkbox-stroke-disabled-checked: #ffffff00;
  --checkbox-stroke-hover: #ffffff7a;
  --drop-menu-bg: #2c2c2e;
  --drop-menu-border: #ffffff7a;
  --drop-menu-label-default: #ffffff;
  --drop-menu-label-hover: #ff4c30;
  --drop-shadow-default: #1e232d1f;
  --drop-shadow-default-2: #1e232d14;
  --drop-shadow-error-focused: #ff6a6129;
  --drop-shadow-focused: #ff4c303b;
  --form-bg-disabled: #ffffff14;
  --form-bg-enabled: #2c2c2e;
  --form-bg-focused: #2c2c2e;
  --form-border-disabled: #ffffff29;
  --form-border-enabled: #ffffff1f;
  --form-border-error: #ff8f8952;
  --form-border-error-focused: #ff6a61;
  --form-border-error-hover: #ff8f89;
  --form-border-focused: #ff644c;
  --form-border-hover: #ff644c;
  --form-ic-enabled: #ffffff;
  --form-ic-filled: #ffffff7a;
  --form-label-enabled: #ffffff;
  --form-label-filled: #ffffff7a;
  --form-select-item-enabled: #2c2c2e;
  --form-select-item-hover: #393939;
  --form-select-item-selected: #1c1c1e;
  --header-main-bg: #393939;
  --header-main-border: #393939;
  --header-top-bg: #1c1c1e;
  --header-top-border: #393939;
  --icon-bg: #ffffff;
  --icon-default: #ff4c30;
  --link-ext-ic-wrap-bg: #1c1c1e;
  --logo-footer: #ffffff;
  --logo-header: #ffffff;
  --modal-body-bg: #2c2c2e;
  --modal-header-bg: #2c2c2e;
  --nav-decoration: #ff4c30;
  --nav-link-bg-current: #1e232d00;
  --nav-link-bg-default: #1e232d00;
  --nav-link-bg-hover: #1e232d00;
  --nav-link-ic-current: #ff4c30;
  --nav-link-ic-default: #ffffff;
  --nav-link-ic-default-light: #ff4c30;
  --nav-link-ic-hover: #ff4c30;
  --nav-link-label-current: #ff4c30;
  --nav-link-label-current-light: #ff4c30;
  --nav-link-label-default: #ffffff;
  --nav-link-label-default-light: #ffffffcc;
  --nav-link-label-hover: #ff4c30;
  --nav-pill-bg-current: #ff4c30;
  --nav-pill-bg-default: #1c1c1e;
  --nav-pill-bg-hover: #1c1c1e;
  --nav-pill-border-current: #ff4c30;
  --nav-pill-border-default: #ffffff7a;
  --nav-pill-border-hover: #ffffff3d;
  --nav-pill-ic-current: #ffffff;
  --nav-pill-ic-default: #ffffff;
  --nav-pill-ic-default-light: #ffffff;
  --nav-pill-ic-hover: #ff4c30;
  --nav-pill-label-current: #ffffff;
  --nav-pill-label-default: #ffffff;
  --nav-pill-label-default-light: #ffffff7a;
  --nav-pill-label-hover: #ff4c30;
  --offcanvas-body-bg: #2c2c2e;
  --offcanvas-header-bg: #2c2c2e;
  --overlay-blur: #1e232d99;
  --overlay-default: #1e232dcc;
  --overlay-on-img: #1e232d1f;
  --pagination-bg-current: #ff4c30;
  --pagination-bg-default: #1c1c1e;
  --pagination-bg-disabled: #2c2c2e;
  --pagination-bg-hover: #393939;
  --pagination-border-current: #2c2c2e;
  --pagination-border-default: #ffffff3d;
  --pagination-border-hover: #2c2c2e;
  --pagination-label-current: #ffffff;
  --pagination-label-default: #ffffff;
  --pagination-label-disabled: #ffffff52;
  --pagination-label-hover: #ffffff;
  --pagination-wrap-border: #1c1c1e;
  --primary-default: #ff4c30;
  --social-border-default: #ffffff;
  --social-border-hover: #ff4c30;
  --social-fill-default: #ffffff;
  --social-fill-hover: #ff4c30;
  --social-ic-default: #000000;
  --social-ic-hover: #000000;
  --steps-bg: #1c1c1e;
  --steps-border: #ffffff7a;
  --steps-text: #ffffff;
  --table-wrap-border: #1c1c1e;
  --table-bg-default: #1c1c1e;
  --table-bg-striped: #393939;
  --text-accent: #acd4ff;
  --text-brand: #ff4c30;
  --text-brand-dark: #ff4c30;
  --text-danger: #ff8f89;
  --text-default: #ffffff;
  --text-disabled: #ffffff52;
  --text-light: #ffffffcc;
  --text-light-2: #ffffff7a;
  --text-link: #ff4c30;
  --text-link-hover: #f45036;
  --text-link-vizited: #ff8572;
  --up-button-bg-default: #393939;
  --up-button-bg-hover: #2c2c2e;
  --up-button-label-default: #ffffffcc;
  --up-button-label-hover: #ffffff;
  /* number */
  --social-opacity-default: 90px;
  --social-opacity-hover: 100px;
}
.bg-color {
  /* color */
  --accordeon-wrap-border: #ff4c30;
  --accordeon-body-bg-default: #ff644c;
  --accordeon-header-bg-active: #ff644c;
  --accordeon-header-bg-default: #ff644c;
  --accordeon-header-bg-hover: #ff826f;
  --accordeon-title-active: #ffffff;
  --accordeon-title-default: #ffffff;
  --accordeon-title-hover: #ffffff;
  --alert-danger-border: #ffc7c4;
  --alert-danger-text: #79221d;
  --alert-danger-bg-light: #ffdad8;
  --alert-success-border: #bfeaca;
  --alert-success-text: #44694d;
  --alert-success-bg-light: #d5f1dc;
  --author-wrap-bg: #ff644c;
  --bg-accent: #ff644c;
  --bg-accent-2: #ff826f;
  --bg-default: #ff4c30;
  --bg-transparent: #ff6952cc;
  --border-default: #ffffff7a;
  --border-light: #ffffff3d;
  --button-filled-2-bg-default: #61adff;
  --button-filled-2-bg-disabled: #ffffff1f;
  --button-filled-2-bg-hover: #5ba2ed;
  --button-filled-2-ic-default: #ffffff;
  --button-filled-2-ic-disabled: #ffffff7a;
  --button-filled-2-ic-hover: #ffffff;
  --button-filled-2-ic-wrap-bg-default: #acd4ff;
  --button-filled-2-ic-wrap-bg-disabled: #ffffff;
  --button-filled-2-ic-wrap-bg-hover: #acd4ff;
  --button-filled-2-label-default: #ffffff;
  --button-filled-2-label-disabled: #ffffff7a;
  --button-filled-2-label-hover: #ffffff;
  --button-filled-neutral-bg-default: #000000;
  --button-filled-neutral-bg-disabled: #ffffff1f;
  --button-filled-neutral-bg-hover: #2b3341;
  --button-filled-neutral-ic-default: #ff4c30;
  --button-filled-neutral-ic-disabled: #ffffff7a;
  --button-filled-neutral-ic-hover: #ff4c30;
  --button-filled-neutral-label-default: #ffffff;
  --button-filled-neutral-label-disabled: #ffffff7a;
  --button-filled-neutral-label-hover: #ffffff;
  --button-filled-bg-default: #e7361b;
  --button-filled-bg-disabled: #ffffff1f;
  --button-filled-bg-hover: #e7361b;
  --button-filled-ic-default: #ffffff;
  --button-filled-ic-disabled: #ffffff7a;
  --button-filled-ic-hover: #ffffff;
  --button-filled-ic-wrap-bg-default: #ffffff3d;
  --button-filled-ic-wrap-bg-disabled: #ffffff3d;
  --button-filled-ic-wrap-bg-hover: #ffffff3d;
  --button-filled-label-default: #ffffff;
  --button-filled-label-disabled: #ffffff7a;
  --button-filled-label-hover: #ffffff;
  --button-input-bg-default: #ffffff00;
  --button-input-bg-disabled: #ffffff00;
  --button-input-bg-hover: #2b3341;
  --button-input-bg-selected: #2b3341;
  --button-input-border-default: #ffffff1f;
  --button-input-border-disabled: #ffffff29;
  --button-input-border-hover: #2b3341;
  --button-input-border-selected: #2b3341;
  --button-input-ic-default: #ff4c30;
  --button-input-ic-disabled: #ffffff94;
  --button-input-ic-hover: #ff4c30;
  --button-input-ic-selected: #ff4c30;
  --button-input-label-default: #ffffff;
  --button-input-label-disabled: #ffffff94;
  --button-input-label-hover: #ffffff;
  --button-input-label-selected: #ffffff;
  --button-stroke-neutral-bg-default: #ffffff29;
  --button-stroke-neutral-bg-disabled: #ffffff00;
  --button-stroke-neutral-bg-hover: #ffffff29;
  --button-stroke-neutral-border-default: #ffffff52;
  --button-stroke-neutral-border-disabled: #ffffff52;
  --button-stroke-neutral-border-hover: #ffffff99;
  --button-stroke-neutral-ic-default: #ffffff;
  --button-stroke-neutral-ic-disabled: #ffffff52;
  --button-stroke-neutral-ic-hover: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-default: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-disabled: #ffffff;
  --button-stroke-neutral-ic-wrap-bg-hover: #ffffff;
  --button-stroke-neutral-label-default: #ffffff;
  --button-stroke-neutral-label-disabled: #ffffff94;
  --button-stroke-neutral-label-hover: #ffffff;
  --button-stroke-bg-default: #ffffff00;
  --button-stroke-bg-disabled: #ffffff00;
  --button-stroke-bg-hover: #ffffff00;
  --button-stroke-border-default: #ffffff;
  --button-stroke-border-disabled: #ffffff52;
  --button-stroke-border-hover: #ffffff;
  --button-stroke-ic-default: #ffffff;
  --button-stroke-ic-disabled: #ffffff52;
  --button-stroke-ic-hover: #ffffff;
  --button-stroke-ic-wrap-bg-default: #ffffff;
  --button-stroke-ic-wrap-bg-disabled: #ffffff;
  --button-stroke-ic-wrap-bg-hover: #ffffff;
  --button-stroke-label-default: #ffffff;
  --button-stroke-label-disabled: #ffffff94;
  --button-stroke-label-hover: #ffffff;
  --button-tint-bg-default: #ffffff29;
  --button-tint-bg-disabled: #ffffff1f;
  --button-tint-bg-hover: #ffffff14;
  --button-tint-ic-default: #ffffff;
  --button-tint-ic-disabled: #ffffff7a;
  --button-tint-ic-hover: #ffffff;
  --button-tint-ic-wrap-bg-default: #ff644c;
  --button-tint-ic-wrap-bg-disabled: #ffffff;
  --button-tint-ic-wrap-bg-hover: #ff644c;
  --button-tint-label-default: #ffffff;
  --button-tint-label-disabled: #ffffff7a;
  --button-tint-label-hover: #ffffff;
  --button-transparent-bg-deafult: #ffffff00;
  --button-transparent-bg-disabled: #ffffff00;
  --button-transparent-bg-hover: #ffffff0a;
  --button-transparent-ic-default: #ffffff;
  --button-transparent-ic-disabled: #ffffff7a;
  --button-transparent-ic-hover: #ffffff;
  --button-transparent-label-default: #ffffff;
  --button-transparent-label-disabled: #ffffff7a;
  --button-transparent-label-hover: #ffffff;
  --card-bg-color-default: #ff4c30;
  --card-bg-color-hover: #e7361b;
  --card-bg-color2-default: #ffb3a8;
  --card-bg-color2-hover: #ff9f90;
  --card-bg-default: #ffffff;
  --card-bg-hover: #ffffff;
  --checkbox-fill-cheched: #61adff;
  --checkbox-fill-cheched-hover: #5ba2ed;
  --checkbox-fill-default: #ff4c30;
  --checkbox-fill-disabled: #ff4c3029;
  --checkbox-fill-disabled-checked: #ff4c3029;
  --checkbox-ic-checked: #ffffff;
  --checkbox-ic-disabled-checked: #ffffffcc;
  --checkbox-stroke-cheched: #61adff;
  --checkbox-stroke-cheched-hover: #5ba2ed;
  --checkbox-stroke-default: #e7361b;
  --checkbox-stroke-disabled: #ff4c3029;
  --checkbox-stroke-disabled-checked: #1e232d00;
  --checkbox-stroke-hover: #99b6eb;
  --drop-menu-bg: #ff644c;
  --drop-menu-border: #ffffff7a;
  --drop-menu-label-default: #ffffff;
  --drop-menu-label-hover: #ff4c30;
  --drop-shadow-default: #ff22005c;
  --drop-shadow-default-2: #ff220029;
  --drop-shadow-error-focused: #ff6a6129;
  --drop-shadow-focused: #acd4ff;
  --form-bg-disabled: #ffffff14;
  --form-bg-enabled: #ff826f;
  --form-bg-focused: #ff4c30;
  --form-border-disabled: #ffffff7a;
  --form-border-enabled: #ffffff1f;
  --form-border-error: #ff8f89;
  --form-border-error-focused: #ff6a61;
  --form-border-error-hover: #ff8f89;
  --form-border-focused: #61adff;
  --form-border-hover: #61adff;
  --form-ic-enabled: #ffffff94;
  --form-ic-filled: #ffffff94;
  --form-label-enabled: #ffffff;
  --form-label-filled: #ffffff99;
  --form-select-item-enabled: #ff644c;
  --form-select-item-hover: #ff644c;
  --form-select-item-selected: #ff4c30;
  --header-main-bg: #ff644c;
  --header-main-border: #ff644c;
  --header-top-bg: #ff644c;
  --header-top-border: #ff644c;
  --icon-bg: #ffffff;
  --icon-default: #ff4c30;
  --link-ext-ic-wrap-bg: #ff4c30;
  --logo-footer: #ffffff;
  --logo-header: #ffffff;
  --modal-body-bg: #ff4c30;
  --modal-header-bg: #ff4c30;
  --nav-decoration: #ffffff;
  --nav-link-bg-current: #ffffff00;
  --nav-link-bg-default: #ffffff00;
  --nav-link-bg-hover: #ffffff00;
  --nav-link-ic-current: #ffffff;
  --nav-link-ic-default: #ffffff99;
  --nav-link-ic-default-light: #ffffff;
  --nav-link-ic-hover: #ffffff;
  --nav-link-label-current: #ffffff;
  --nav-link-label-current-light: #ffffff;
  --nav-link-label-default: #ffffff;
  --nav-link-label-default-light: #ffffffcc;
  --nav-link-label-hover: #ffffff99;
  --nav-pill-bg-current: #ff4c30;
  --nav-pill-bg-default: #ff4c30;
  --nav-pill-bg-hover: #ff4c30;
  --nav-pill-border-current: #ff4c30;
  --nav-pill-border-default: #ffffff7a;
  --nav-pill-border-hover: #ffffff3d;
  --nav-pill-ic-current: #ffffff;
  --nav-pill-ic-default: #ffffff;
  --nav-pill-ic-default-light: #ffffff;
  --nav-pill-ic-hover: #ffffff;
  --nav-pill-label-current: #ffffff;
  --nav-pill-label-default: #ffffff99;
  --nav-pill-label-default-light: #ffffff;
  --nav-pill-label-hover: #ffffff;
  --offcanvas-body-bg: #ff644c;
  --offcanvas-header-bg: #ff644c;
  --overlay-blur: #162748b2;
  --overlay-default: #1e232d52;
  --overlay-on-img: #1e232d00;
  --pagination-bg-current: #5ba2ed;
  --pagination-bg-default: #ff4c30;
  --pagination-bg-disabled: #ff644c;
  --pagination-bg-hover: #ff644c;
  --pagination-border-current: #ff644c;
  --pagination-border-default: #ffffff3d;
  --pagination-border-hover: #ff644c;
  --pagination-label-current: #ffffff;
  --pagination-label-default: #ffffff;
  --pagination-label-disabled: #ffffff94;
  --pagination-label-hover: #ffffff;
  --pagination-wrap-border: #ff4c30;
  --primary-default: #ff4c30;
  --social-border-default: #ffffff3d;
  --social-border-hover: #ffffff;
  --social-fill-default: #ffffffcc;
  --social-fill-hover: #ffffff;
  --social-ic-default: #ff4c30;
  --social-ic-hover: #ff4c30;
  --steps-bg: #ff4c30;
  --steps-border: #ffffff7a;
  --steps-text: #ffffff;
  --table-wrap-border: #ff4c30;
  --table-bg-default: #ff4c30;
  --table-bg-striped: #ff826f;
  --text-accent: #acd4ff;
  --text-brand: #ff4c30;
  --text-brand-dark: #ff4c30;
  --text-danger: #ff726a;
  --text-default: #ffffff;
  --text-disabled: #ffffff94;
  --text-light: #ffffffcc;
  --text-light-2: #ffffff99;
  --text-link: #ffffff;
  --text-link-hover: #ffffffcc;
  --text-link-vizited: #ffffffcc;
  --up-button-bg-default: #ff644c;
  --up-button-bg-hover: #ff826f;
  --up-button-label-default: #ffffffcc;
  --up-button-label-hover: #ffffff;
  /* number */
  --social-opacity-default: 90px;
  --social-opacity-hover: 100px;
}