[data-windowsize="desktop"] {
  /* number */
  --breakpoint: 1440px;
  --accordeon-list-gap: 2px;
  --accordeon-body-border-radius-non: 0px;
  --accordeon-body-border-radius-md: 24px;
  --accordeon-body-padding-x-non: 0px;
  --accordeon-body-padding-x-md: 24px;
  --accordeon-body-padding-y-non: 0px;
  --accordeon-body-padding-y-md: 24px;
  --accordeon-header-border-radius-non: 0px;
  --accordeon-header-border-radius-md: 24px;
  --accordeon-header-ic-md: 20px;
  --accordeon-header-min-height-md: 68px;
  --accordeon-header-padding-x-md: 24px;
  --accordeon-header-padding-y-md: 24px;
  --accordeon-wrap-border-radius-md: 16px;
  --actions-gap: 16px;
  --actions-inner-gap-sm: 4px;
  --actions-inner-gap-lg: 8px;
  --actions-inner-gap-md: 8px;
  --actions-padding-sm: 16px;
  --actions-padding-lg: 80px;
  --actions-padding-md: 80px;
  --alert-border-radius-sm: 12px;
  --alert-border-radius-md: 16px;
  --alert-gap-md: 16px;
  --alert-gap-sm: 16px;
  --alert-inner-gap-sm: 4px;
  --alert-inner-gap-md: 8px;
  --alert-wrap-padding-sm: 8px;
  --alert-wrap-padding-md: 16px;
  --author-wrap-border-radius-md: 24px;
  --author-wrap-gap-md: 24px;
  --author-wrap-inner-gap-md: 4px;
  --author-wrap-padding-md: 24px;
  --banner-img-height: 520px;
  --block-title-padding-y-sm: 16px;
  --block-title-padding-y-lg: 60px;
  --block-title-padding-y-md: 60px;
  --breadcrambs-gap-sm: 8px;
  --breadcrambs-padding-sm: 4px;
  --button-border: 1px;
  --button-input-border: 1px;
  --button-input-gap-md: 4px;
  --button-input-gap-sm: 4px;
  --button-input-gap-lg: 8px;
  --button-input-height-sm: 40px;
  --button-input-height-md: 48px;
  --button-input-height-lg: 56px;
  --button-input-ic-size-sm: 16px;
  --button-input-ic-size-md: 18px;
  --button-input-ic-size-lg: 24px;
  --button-input-padding-x-md: 16px;
  --button-input-padding-x-sm: 16px;
  --button-input-padding-x-lg: 20px;
  --button-input-padding-y-sm: 8px;
  --button-input-padding-y-md: 16px;
  --button-input-padding-y-lg: 20px;
  --button-input-radius-lg: 100px;
  --button-input-radius-md: 100px;
  --button-input-radius-sm: 100px;
  --button-gap-lg: 8px;
  --button-gap-md: 8px;
  --button-gap-sm: 8px;
  --button-height-sm: 32px;
  --button-height-md: 50px;
  --button-height-lg: 80px;
  --button-ic-size-sm: 16px;
  --button-ic-size-md: 18px;
  --button-ic-size-lg: 24px;
  --button-padding-x-sm: 16px;
  --button-padding-x-md: 24px;
  --button-padding-x-lg: 30px;
  --button-padding-x2-lg: 4px;
  --button-padding-x2-md: 4px;
  --button-padding-x2-sm: 4px;
  --button-padding-y-md: 16px;
  --button-padding-y-sm: 16px;
  --button-padding-y-lg: 20px;
  --button-padding-y2-lg: 4px;
  --button-padding-y2-md: 4px;
  --button-padding-y2-sm: 4px;
  --button-radius-lg: 0px;
  --button-radius-md: 0px;
  --button-radius-sm: 0px;
  --card-list-gap-xs: 4px;
  --card-list-gap-sm: 8px;
  --card-list-gap-md: 16px;
  --card-list-gap-lg: 24px;
  --card-list-gap-xl: 32px;
  --card-list-gap-xxl: 60px;
  --card-list-gap-xxxl: 80px;
  --card-border-radius-non: 0px;
  --card-border-radius-sm: 14px;
  --card-border-radius-md: 16px;
  --card-border-radius-lg: 24px;
  --card-gap-non: 0px;
  --card-gap-md: 16px;
  --card-gap-lg: 24px;
  --card-gap-xl: 32px;
  --card-gap-xxl: 60px;
  --card-wrap-padding-non: 0px;
  --card-wrap-padding-xs: 8px;
  --card-wrap-padding-sm: 12px;
  --card-wrap-padding-md: 24px;
  --card-wrap-padding-lg: 40px;
  --card-wrap-padding-xl: 48px;
  --card-wrap-padding-xxl: 60px;
  --card-wrap-padding-xxxl: 80px;
  --checkbox-radiobutton-correcting-padding-y-lg: 0px;
  --checkbox-radiobutton-correcting-padding-y-md: 0px;
  --checkbox-radiobutton-correcting-padding-y-sm: 0px;
  --checkbox-radiobutton-gap-md: 10px;
  --checkbox-radiobutton-gap-sm: 10px;
  --checkbox-radiobutton-ic-sm: 16px;
  --checkbox-radiobutton-ic-md: 18px;
  --checkbox-radiobutton-radius-md: 8px;
  --checkbox-radiobutton-radius-sm: 8px;
  --checkbox-radiobutton-radius-full: 999px;
  --checkbox-radiobutton-w-h-sm: 24px;
  --checkbox-radiobutton-w-h-md: 28px;
  --container-padding: 24px;
  --container-border-radius-md: 24px;
  --container-max-width-xs: 768px;
  --container-max-width-sm: 960px;
  --container-max-width-md: 1200px;
  --container-max-width-lg: 1300px;
  --container-max-width-xl: 1700px;
  --container-warp-padding-x-lg: 60px;
  --container-warp-padding-y-lg: 60px;
  --content-padding-md: 24px;
  --cookie-wrap-padding: 8px;
  --cookie-wrap-gap: 16px;
  --drop-menu-correcting-padding: 8px;
  --drop-menu-col-max-width: 240px;
  --drop-menu-gap-inner: 8px;
  --drop-menu-gap-outter: 60px;
  --drop-menu-item-gap-sm: 12px;
  --drop-menu-item-gap-md: 14px;
  --drop-menu-item-gap-lg: 16px;
  --drop-menu-item-gap-xl: 16px;
  --drop-menu-item-ic-sm: 16px;
  --drop-menu-item-ic-md: 18px;
  --drop-menu-item-ic-lg: 20px;
  --drop-menu-item-ic-xl: 20px;
  --drop-menu-item-padding-md: 6px;
  --drop-menu-item-padding-sm: 6px;
  --drop-menu-item-padding-lg: 8px;
  --drop-menu-item-padding-xl: 10px;
  --drop-menu-radius-sm: 12px;
  --drop-menu-radius-md: 24px;
  --drop-menu-wrap-padding-sm: 16px;
  --drop-menu-wrap-padding-lg: 24px;
  --footer-gap: 32px;
  --footer-padding-x: 60px;
  --footer-bottom-gap: 0px;
  --footer-bottom-padding-y: 16px;
  --footer-bottom-min-height: 70px;
  --footer-form-wrap-padding: 0px;
  --footer-form-wrap-radius: 0px;
  --footer-form-wrap-gap: 16px;
  --footer-form-wrap-max-width: 460px;
  --footer-title-padding-y-lg: 16px;
  --footer-title-padding-y-md: 16px;
  --footer-title-padding-y-sm: 16px;
  --form-border-outlined-focused: 1px;
  --form-border-underlined-focused: 2px;
  --form-constructor-gap-md: 16px;
  --form-constructor-gap-lg: 24px;
  --form-height-sm: 40px;
  --form-height-md: 50px;
  --form-height-lg: 56px;
  --form-helper-text-padding-y-sm: 2px;
  --form-helper-text-padding-y-lg: 4px;
  --form-helper-text-padding-y-md: 4px;
  --form-ic-sm: 16px;
  --form-ic-md: 18px;
  --form-ic-lg: 20px;
  --form-input-padding-x-non: 0px;
  --form-input-padding-x-sm: 12px;
  --form-input-padding-x-lg: 16px;
  --form-input-padding-x-md: 16px;
  --form-input-padding-y-sm: 8px;
  --form-input-padding-y-lg: 16px;
  --form-input-padding-y-md: 16px;
  --form-label-padding-y-lg: 6px;
  --form-label-padding-y-md: 6px;
  --form-label-padding-y-sm: 6px;
  --form-radius-lg: 0px;
  --form-radius-md: 0px;
  --form-radius-sm: 0px;
  --gallery-gap-sm: 4px;
  --gallery-gap-md: 8px;
  --gallery-slider-gap: 16px;
  --gallery-slider-height: 300px;
  --gallery-wrap-border-radius: 24px;
  --grid-gap-xxs: 16px;
  --grid-gap-xs: 24px;
  --grid-gap-sm: 40px;
  --grid-gap-md: 60px;
  --grid-gap-lg: 120px;
  --grid-max-width-sm: 540px;
  --grid-max-width-md: 760px;
  --grid-max-width-lg: 960px;
  --grid-padding-0-lg: 0px;
  --grid-padding-0-md: 0px;
  --grid-padding-0-sm: 0px;
  --grid-padding-0-xs: 0px;
  --grid-padding-non: 0px;
  --grid-padding-xs: 16px;
  --grid-padding-xs-0: 16px;
  --grid-padding-sm: 32px;
  --grid-padding-sm-0: 32px;
  --grid-padding-md: 80px;
  --grid-padding-md-0: 80px;
  --grid-padding-lg: 160px;
  --grid-padding-lg-0: 160px;
  --header-main-padding-x: 16px;
  --header-main-container-padding: 24px;
  --header-main-height: 66px;
  --header-main-border-radius-md: 16px;
  --header-main-gap-inner: 4px;
  --header-main-gap-outter: 60px;
  --header-main-nav-list-gap-state-2: 0px;
  --header-main-nav-list-gap: 12px;
  --header-top-haight: 32px;
  --header-top-gap-inner: 8px;
  --header-top-gap-outter: 16px;
  --icon-padding-sm: 8px;
  --icon-padding-md: 16px;
  --icon-padding-lg: 24px;
  --icon-radius-default: 16px;
  --icon-w-h-sm: 20px;
  --icon-w-h-lg: 24px;
  --icon-w-h-md: 24px;
  --img-radius-sm: 8px;
  --img-radius-md: 24px;
  --img-radius-full: 999px;
  --logo-list-item-border-radius: 0px;
  --logo-list-item-img-wrap-padding-y: 8px;
  --logo-list-item-img-wrap-padding-x: 24px;
  --logo-list-item-width: 186px;
  --modal-close-btn-padding-sm: 4px;
  --modal-close-btn-padding-md: 16px;
  --modal-close-btn-padding-lg: 24px;
  --modal-header-gap-sm: 4px;
  --modal-header-gap-md: 8px;
  --modal-padding-sm: 16px;
  --modal-padding-md: 32px;
  --modal-padding-lg: 160px;
  --modal-width-sm: 320px;
  --modal-width-md: 580px;
  --modal-width-lg: 960px;
  --modal-wrap-border-radius-non: 0px;
  --modal-wrap-border-radius-sm: 12px;
  --modal-wrap-border-radius-md: 16px;
  --nav-link-decor-deco-width: 2px;
  --nav-link-decor-padding-x-lg: 16px;
  --nav-link-decor-padding-x-md: 16px;
  --nav-link-decor-padding-x-sm: 16px;
  --nav-link-decor-padding-x-xl: 16px;
  --nav-link-gap-lg: 4px;
  --nav-link-gap-md: 4px;
  --nav-link-gap-sm: 4px;
  --nav-link-gap-xl: 8px;
  --nav-link-ic-sm: 16px;
  --nav-link-ic-md: 18px;
  --nav-link-ic-lg: 20px;
  --nav-link-ic-xl: 20px;
  --nav-link-padding-sm: 6px;
  --nav-link-padding-md: 7px;
  --nav-link-padding-lg: 8px;
  --nav-link-padding-xl: 10px;
  --nav-pill-border-radius-lg: 100px;
  --nav-pill-border-radius-md: 100px;
  --nav-pill-border-radius-sm: 100px;
  --nav-pill-border-radius-xl: 100px;
  --nav-pill-padding-md: 12px;
  --nav-pill-padding-sm: 12px;
  --nav-pill-padding-lg: 16px;
  --nav-pill-padding-xl: 16px;
  --offcanvas-header-gap-sm: 4px;
  --offcanvas-header-gap-md: 8px;
  --offcanvas-padding-sm: 16px;
  --offcanvas-padding-md: 24px;
  --offcanvas-width-xs: 220px;
  --offcanvas-width-sm: 320px;
  --offcanvas-width-md: 480px;
  --offcanvas-wrap-border-radius-sm: 12px;
  --offcanvas-wrap-border-radius-md: 16px;
  --pagination-border-radius-lg: 999px;
  --pagination-border-radius-md: 999px;
  --pagination-border-radius-sm: 999px;
  --pagination-gap-non: 0px;
  --pagination-gap-sm: 4px;
  --pagination-ic-size-sm: 16px;
  --pagination-ic-size-md: 18px;
  --pagination-ic-size-lg: 24px;
  --pagination-padding-x-sm: 16px;
  --pagination-padding-x-md: 18px;
  --pagination-padding-x-lg: 24px;
  --pagination-padding-y-sm: 10px;
  --pagination-padding-y-md: 12px;
  --pagination-padding-y-lg: 16px;
  --pagination-w-h-sm: 32px;
  --pagination-w-h-md: 48px;
  --pagination-wrap-border-radius-sm: 12px;
  --pagination-wrap-border-radius-md: 16px;
  --pagination-wrap-border-radius-lg: 24px;
  --pictogram-padding-sm: 8px;
  --pictogram-padding-lg: 16px;
  --pictogram-padding-md: 16px;
  --pictogram-w-h-sm: 24px;
  --pictogram-w-h-md: 32px;
  --pictogram-w-h-lg: 42px;
  --profile-xs: 40px;
  --profile-sm: 48px;
  --profile-md: 64px;
  --profile-lg: 100px;
  --section-border-radius: 32px;
  --separator-non: 0px;
  --separator-xs: 16px;
  --separator-sm: 32px;
  --separator-md: 80px;
  --separator-lg: 200px;
  --share-article-padding: 16px;
  --sidebar-width-xs: 220px;
  --sidebar-width-sm: 320px;
  --sidebar-width-md: 480px;
  --social-min-width: 100px;
  --social-ic-md: 20px;
  --social-ic-sm: 20px;
  --social-ic-lg: 22px;
  --social-list-gap-md: 4px;
  --social-list-gap-lg: 8px;
  --social-list-padding-y-md: 16px;
  --social-radius-md: 999px;
  --social-w-h-xxs: 16px;
  --social-w-h-xs: 22px;
  --social-w-h-sm: 30px;
  --social-w-h-md: 36px;
  --social-w-h-lg: 50px;
  --steps-padding-bottom: 0px;
  --steps-gap-md: 16px;
  --steps-info-padding-bottom-md: 32px;
  --steps-info-padding-top-md: 7px;
  --steps-number-wrap-border-radius-md: 16px;
  --steps-number-wrap-padding-md: 8px;
  --steps-number-wrap-w-h-md: 40px;
  --table-cell-padding-sm: 8px;
  --table-cell-padding-md: 16px;
  --table-gap-non: 0px;
  --table-gap-sm: 24px;
  --table-gap-md: 32px;
  --table-wrap-border-radius-sm: 12px;
  --table-wrap-border-radius-md: 16px;
  --text-editor-heading-padding-y: 32px;
  --text-editor-img-padding-y: 32px;
  --text-editor-body-padding-y-sm: 16px;
  --text-editor-body-padding-y-lg: 32px;
  --text-editor-body-padding-y-md: 32px;
  --text-editor-body-padding-y-xl: 32px;
  --typography-body-font-size-sm-m: 13px;
  --typography-body-font-size-sm: 14px;
  --typography-body-font-size-md: 16px;
  --typography-body-font-size-lg: 18px;
  --typography-body-font-size-xl: 22px;
  --typography-button-font-weigh: 400;
  --typography-button-input-font-weigh: 400;
  --typography-button-input-font-size-sm: 15px;
  --typography-button-input-font-size-md: 18px;
  --typography-button-input-font-size-lg: 22px;
  --typography-button-font-size-sm: 13px;
  --typography-button-font-size-md: 14px;
  --typography-button-font-size-lg: 18px;
  --typography-display-font-size-h1-sm: 36px;
  --typography-display-font-size-h1-md: 48px;
  --typography-display-font-size-h1-lg: 60px;
  --typography-display-font-size-h2-sm: 22px;
  --typography-display-font-size-h2-md: 28px;
  --typography-display-font-size-h2-lg: 42px;
  --typography-display-font-weight-h1: 400px;
  --typography-display-font-weight-h2: 400px;
  --typography-form-input-text-font-weigh: 400px;
  --typography-form-label-font-weigh: 500px;
  --typography-form-label-font-size-lg: 12px;
  --typography-form-label-font-size-md: 12px;
  --typography-form-label-font-size-sm: 12px;
  --typography-heading-font-weight: 400px;
  --typography-heading-font-size-h6: 16px;
  --typography-heading-font-size-h5: 20px;
  --typography-heading-font-size-h4: 22px;
  --typography-heading-font-size-h3: 24px;
  --typography-heading-font-size-h2: 42px;
  --typography-heading-font-size-h1: 48px;
  --typography-nav-font-weight: 400px;
  --typography-nav-font-size-sm: 13px;
  --typography-nav-font-size-sm-m: 13px;
  --typography-nav-font-size-md: 15px;
  --typography-nav-font-size-lg: 18px;
  --typography-nav-font-size-xl: 20px;
  --typography-numbers-font-size-sm: 32px;
  --typography-numbers-font-size-md: 40px;
  --typography-numbers-font-size-lg: 80px;
  --typography-title-font-weigh: 400px;
  --typography-title-font-size-sm-m: 13px;
  --typography-title-font-size-sm: 14px;
  --typography-title-font-size-md: 16px;
  --typography-title-font-size-lg: 20px;
  --typography-title-font-size-xl: 24px;
  --typography-title-font-size-xxl: 28px;
  --typography-title-font-size-xxxl: 38px;
  --typography-title-font-size-xxxxl: 42px;
  --up-button-border-radius: 8px;
  --up-button-padding: 12px;
  --up-button-ic: 24px;
  /* string */
  --assets-footer: desktop;
  --assets-main-header: desktop;
  --assets-top-header: desktop;
  --typography-font-family: SF Pro;
  --typography-font-family-accent: Zapfino;
}
[data-windowsize="tablet-lg"] {
  /* number */
  --breakpoint: 1024px;
  --accordeon-list-gap: 2px;
  --accordeon-body-border-radius-non: 0px;
  --accordeon-body-border-radius-md: 24px;
  --accordeon-body-padding-x-non: 0px;
  --accordeon-body-padding-x-md: 24px;
  --accordeon-body-padding-y-non: 0px;
  --accordeon-body-padding-y-md: 24px;
  --accordeon-header-border-radius-non: 0px;
  --accordeon-header-border-radius-md: 24px;
  --accordeon-header-ic-md: 20px;
  --accordeon-header-min-height-md: 68px;
  --accordeon-header-padding-x-md: 24px;
  --accordeon-header-padding-y-md: 24px;
  --accordeon-wrap-border-radius-md: 16px;
  --actions-gap: 16px;
  --actions-inner-gap-sm: 4px;
  --actions-inner-gap-lg: 8px;
  --actions-inner-gap-md: 8px;
  --actions-padding-sm: 16px;
  --actions-padding-lg: 80px;
  --actions-padding-md: 80px;
  --alert-border-radius-sm: 12px;
  --alert-border-radius-md: 16px;
  --alert-gap-md: 16px;
  --alert-gap-sm: 16px;
  --alert-inner-gap-sm: 4px;
  --alert-inner-gap-md: 8px;
  --alert-wrap-padding-sm: 8px;
  --alert-wrap-padding-md: 16px;
  --author-wrap-border-radius-md: 24px;
  --author-wrap-gap-md: 24px;
  --author-wrap-inner-gap-md: 4px;
  --author-wrap-padding-md: 24px;
  --banner-img-height: 460px;
  --block-title-padding-y-sm: 16px;
  --block-title-padding-y-lg: 60px;
  --block-title-padding-y-md: 60px;
  --breadcrambs-gap-sm: 8px;
  --breadcrambs-padding-sm: 4px;
  --button-border: 1px;
  --button-input-border: 1px;
  --button-input-gap-md: 4px;
  --button-input-gap-sm: 4px;
  --button-input-gap-lg: 8px;
  --button-input-height-sm: 40px;
  --button-input-height-md: 46px;
  --button-input-height-lg: 56px;
  --button-input-ic-size-sm: 16px;
  --button-input-ic-size-md: 18px;
  --button-input-ic-size-lg: 24px;
  --button-input-padding-x-md: 16px;
  --button-input-padding-x-sm: 16px;
  --button-input-padding-x-lg: 20px;
  --button-input-padding-y-sm: 8px;
  --button-input-padding-y-md: 16px;
  --button-input-padding-y-lg: 20px;
  --button-input-radius-lg: 100px;
  --button-input-radius-md: 100px;
  --button-input-radius-sm: 100px;
  --button-gap-lg: 8px;
  --button-gap-md: 8px;
  --button-gap-sm: 8px;
  --button-height-sm: 32px;
  --button-height-md: 50px;
  --button-height-lg: 80px;
  --button-ic-size-sm: 16px;
  --button-ic-size-md: 18px;
  --button-ic-size-lg: 24px;
  --button-padding-x-sm: 16px;
  --button-padding-x-md: 24px;
  --button-padding-x-lg: 30px;
  --button-padding-x2-lg: 4px;
  --button-padding-x2-md: 4px;
  --button-padding-x2-sm: 4px;
  --button-padding-y-md: 16px;
  --button-padding-y-sm: 16px;
  --button-padding-y-lg: 20px;
  --button-padding-y2-lg: 4px;
  --button-padding-y2-md: 4px;
  --button-padding-y2-sm: 4px;
  --button-radius-lg: 0px;
  --button-radius-md: 0px;
  --button-radius-sm: 0px;
  --card-list-gap-xs: 4px;
  --card-list-gap-sm: 8px;
  --card-list-gap-md: 16px;
  --card-list-gap-lg: 24px;
  --card-list-gap-xl: 32px;
  --card-list-gap-xxl: 60px;
  --card-list-gap-xxxl: 80px;
  --card-border-radius-non: 0px;
  --card-border-radius-sm: 14px;
  --card-border-radius-md: 16px;
  --card-border-radius-lg: 24px;
  --card-gap-non: 0px;
  --card-gap-md: 16px;
  --card-gap-lg: 24px;
  --card-gap-xl: 32px;
  --card-gap-xxl: 60px;
  --card-wrap-padding-non: 0px;
  --card-wrap-padding-xs: 8px;
  --card-wrap-padding-sm: 12px;
  --card-wrap-padding-md: 24px;
  --card-wrap-padding-lg: 40px;
  --card-wrap-padding-xl: 48px;
  --card-wrap-padding-xxl: 60px;
  --card-wrap-padding-xxxl: 80px;
  --checkbox-radiobutton-correcting-padding-y-lg: 0px;
  --checkbox-radiobutton-correcting-padding-y-md: 0px;
  --checkbox-radiobutton-correcting-padding-y-sm: 0px;
  --checkbox-radiobutton-gap-md: 10px;
  --checkbox-radiobutton-gap-sm: 10px;
  --checkbox-radiobutton-ic-sm: 16px;
  --checkbox-radiobutton-ic-md: 18px;
  --checkbox-radiobutton-radius-md: 8px;
  --checkbox-radiobutton-radius-sm: 8px;
  --checkbox-radiobutton-radius-full: 999px;
  --checkbox-radiobutton-w-h-sm: 24px;
  --checkbox-radiobutton-w-h-md: 28px;
  --container-padding: 24px;
  --container-border-radius-md: 24px;
  --container-max-width-xs: 768px;
  --container-max-width-sm: 960px;
  --container-max-width-md: 1200px;
  --container-max-width-lg: 1300px;
  --container-max-width-xl: 1700px;
  --container-warp-padding-x-lg: 60px;
  --container-warp-padding-y-lg: 60px;
  --content-padding-md: 24px;
  --cookie-wrap-padding: 8px;
  --cookie-wrap-gap: 16px;
  --drop-menu-correcting-padding: 8px;
  --drop-menu-col-max-width: 240px;
  --drop-menu-gap-inner: 8px;
  --drop-menu-gap-outter: 60px;
  --drop-menu-item-gap-sm: 12px;
  --drop-menu-item-gap-md: 14px;
  --drop-menu-item-gap-lg: 16px;
  --drop-menu-item-gap-xl: 16px;
  --drop-menu-item-ic-sm: 16px;
  --drop-menu-item-ic-md: 18px;
  --drop-menu-item-ic-lg: 20px;
  --drop-menu-item-ic-xl: 20px;
  --drop-menu-item-padding-md: 6px;
  --drop-menu-item-padding-sm: 6px;
  --drop-menu-item-padding-lg: 8px;
  --drop-menu-item-padding-xl: 10px;
  --drop-menu-radius-sm: 12px;
  --drop-menu-radius-md: 24px;
  --drop-menu-wrap-padding-sm: 16px;
  --drop-menu-wrap-padding-lg: 24px;
  --footer-gap: 32px;
  --footer-padding-x: 60px;
  --footer-bottom-gap: 16px;
  --footer-bottom-padding-y: 16px;
  --footer-bottom-min-height: 70px;
  --footer-form-wrap-padding: 0px;
  --footer-form-wrap-radius: 0px;
  --footer-form-wrap-gap: 16px;
  --footer-form-wrap-max-width: 460px;
  --footer-title-padding-y-lg: 16px;
  --footer-title-padding-y-md: 16px;
  --footer-title-padding-y-sm: 16px;
  --form-border-outlined-focused: 1px;
  --form-border-underlined-focused: 2px;
  --form-constructor-gap-md: 16px;
  --form-constructor-gap-lg: 24px;
  --form-height-sm: 40px;
  --form-height-md: 50px;
  --form-height-lg: 56px;
  --form-helper-text-padding-y-sm: 2px;
  --form-helper-text-padding-y-lg: 4px;
  --form-helper-text-padding-y-md: 4px;
  --form-ic-sm: 16px;
  --form-ic-md: 18px;
  --form-ic-lg: 20px;
  --form-input-padding-x-non: 0px;
  --form-input-padding-x-sm: 12px;
  --form-input-padding-x-lg: 16px;
  --form-input-padding-x-md: 16px;
  --form-input-padding-y-sm: 8px;
  --form-input-padding-y-lg: 16px;
  --form-input-padding-y-md: 16px;
  --form-label-padding-y-lg: 6px;
  --form-label-padding-y-md: 6px;
  --form-label-padding-y-sm: 6px;
  --form-radius-lg: 0px;
  --form-radius-md: 0px;
  --form-radius-sm: 0px;
  --gallery-gap-sm: 4px;
  --gallery-gap-md: 8px;
  --gallery-slider-gap: 16px;
  --gallery-slider-height: 300px;
  --gallery-wrap-border-radius: 24px;
  --grid-gap-xxs: 16px;
  --grid-gap-xs: 24px;
  --grid-gap-sm: 40px;
  --grid-gap-lg: 60px;
  --grid-gap-md: 60px;
  --grid-max-width-sm: 540px;
  --grid-max-width-md: 760px;
  --grid-max-width-lg: 960px;
  --grid-padding-0-lg: 0px;
  --grid-padding-0-md: 0px;
  --grid-padding-0-sm: 0px;
  --grid-padding-0-xs: 0px;
  --grid-padding-non: 0px;
  --grid-padding-xs: 16px;
  --grid-padding-xs-0: 16px;
  --grid-padding-sm: 32px;
  --grid-padding-sm-0: 32px;
  --grid-padding-lg-0: 80px;
  --grid-padding-md: 80px;
  --grid-padding-md-0: 80px;
  --grid-padding-lg: 160px;
  --header-main-container-padding: 16px;
  --header-main-padding-x: 16px;
  --header-main-height: 66px;
  --header-main-border-radius-md: 16px;
  --header-main-gap-inner: 4px;
  --header-main-gap-outter: 60px;
  --header-main-nav-list-gap-state-2: 0px;
  --header-main-nav-list-gap: 12px;
  --header-top-haight: 32px;
  --header-top-gap-inner: 8px;
  --header-top-gap-outter: 16px;
  --icon-padding-sm: 8px;
  --icon-padding-md: 16px;
  --icon-padding-lg: 24px;
  --icon-radius-default: 16px;
  --icon-w-h-sm: 20px;
  --icon-w-h-lg: 24px;
  --icon-w-h-md: 24px;
  --img-radius-sm: 8px;
  --img-radius-md: 24px;
  --img-radius-full: 999px;
  --logo-list-item-border-radius: 0px;
  --logo-list-item-img-wrap-padding-y: 8px;
  --logo-list-item-img-wrap-padding-x: 24px;
  --logo-list-item-width: 186px;
  --modal-close-btn-padding-sm: 4px;
  --modal-close-btn-padding-md: 16px;
  --modal-close-btn-padding-lg: 24px;
  --modal-header-gap-sm: 4px;
  --modal-header-gap-md: 8px;
  --modal-padding-sm: 16px;
  --modal-padding-md: 24px;
  --modal-padding-lg: 160px;
  --modal-width-sm: 320px;
  --modal-width-md: 580px;
  --modal-width-lg: 960px;
  --modal-wrap-border-radius-non: 0px;
  --modal-wrap-border-radius-sm: 12px;
  --modal-wrap-border-radius-md: 16px;
  --nav-link-decor-deco-width: 2px;
  --nav-link-decor-padding-x-lg: 16px;
  --nav-link-decor-padding-x-md: 16px;
  --nav-link-decor-padding-x-sm: 16px;
  --nav-link-decor-padding-x-xl: 16px;
  --nav-link-gap-lg: 4px;
  --nav-link-gap-md: 4px;
  --nav-link-gap-sm: 4px;
  --nav-link-gap-xl: 8px;
  --nav-link-ic-sm: 16px;
  --nav-link-ic-md: 18px;
  --nav-link-ic-lg: 20px;
  --nav-link-ic-xl: 20px;
  --nav-link-padding-sm: 6px;
  --nav-link-padding-md: 7px;
  --nav-link-padding-lg: 8px;
  --nav-link-padding-xl: 10px;
  --nav-pill-border-radius-lg: 100px;
  --nav-pill-border-radius-md: 100px;
  --nav-pill-border-radius-sm: 100px;
  --nav-pill-border-radius-xl: 100px;
  --nav-pill-padding-md: 12px;
  --nav-pill-padding-sm: 12px;
  --nav-pill-padding-lg: 16px;
  --nav-pill-padding-xl: 16px;
  --offcanvas-header-gap-sm: 4px;
  --offcanvas-header-gap-md: 8px;
  --offcanvas-padding-sm: 16px;
  --offcanvas-padding-md: 24px;
  --offcanvas-width-xs: 220px;
  --offcanvas-width-sm: 320px;
  --offcanvas-width-md: 480px;
  --offcanvas-wrap-border-radius-sm: 12px;
  --offcanvas-wrap-border-radius-md: 16px;
  --pagination-border-radius-lg: 999px;
  --pagination-border-radius-md: 999px;
  --pagination-border-radius-sm: 999px;
  --pagination-gap-non: 0px;
  --pagination-gap-sm: 4px;
  --pagination-ic-size-sm: 16px;
  --pagination-ic-size-md: 18px;
  --pagination-ic-size-lg: 24px;
  --pagination-padding-x-sm: 16px;
  --pagination-padding-x-md: 18px;
  --pagination-padding-x-lg: 24px;
  --pagination-padding-y-sm: 10px;
  --pagination-padding-y-md: 12px;
  --pagination-padding-y-lg: 16px;
  --pagination-w-h-sm: 32px;
  --pagination-w-h-md: 48px;
  --pagination-wrap-border-radius-sm: 12px;
  --pagination-wrap-border-radius-md: 16px;
  --pagination-wrap-border-radius-lg: 24px;
  --pictogram-padding-sm: 8px;
  --pictogram-padding-lg: 16px;
  --pictogram-padding-md: 16px;
  --pictogram-w-h-sm: 24px;
  --pictogram-w-h-md: 32px;
  --pictogram-w-h-lg: 42px;
  --profile-xs: 40px;
  --profile-sm: 48px;
  --profile-md: 64px;
  --profile-lg: 100px;
  --section-border-radius: 32px;
  --separator-non: 0px;
  --separator-xs: 16px;
  --separator-sm: 32px;
  --separator-md: 80px;
  --separator-lg: 200px;
  --share-article-padding: 16px;
  --sidebar-width-xs: 220px;
  --sidebar-width-sm: 320px;
  --sidebar-width-md: 480px;
  --social-min-width: 100px;
  --social-ic-md: 20px;
  --social-ic-sm: 20px;
  --social-ic-lg: 22px;
  --social-list-gap-md: 4px;
  --social-list-gap-lg: 8px;
  --social-list-padding-y-md: 16px;
  --social-radius-md: 999px;
  --social-w-h-xxs: 16px;
  --social-w-h-xs: 22px;
  --social-w-h-sm: 30px;
  --social-w-h-md: 36px;
  --social-w-h-lg: 50px;
  --steps-padding-bottom: 0px;
  --steps-gap-md: 16px;
  --steps-info-padding-bottom-md: 32px;
  --steps-info-padding-top-md: 7px;
  --steps-number-wrap-border-radius-md: 16px;
  --steps-number-wrap-padding-md: 8px;
  --steps-number-wrap-w-h-md: 40px;
  --table-cell-padding-sm: 8px;
  --table-cell-padding-md: 16px;
  --table-gap-non: 0px;
  --table-gap-sm: 24px;
  --table-gap-md: 32px;
  --table-wrap-border-radius-sm: 12px;
  --table-wrap-border-radius-md: 16px;
  --text-editor-heading-padding-y: 32px;
  --text-editor-img-padding-y: 32px;
  --text-editor-body-padding-y-sm: 16px;
  --text-editor-body-padding-y-lg: 32px;
  --text-editor-body-padding-y-md: 32px;
  --text-editor-body-padding-y-xl: 32px;
  --typography-body-font-size-sm-m: 13px;
  --typography-body-font-size-sm: 14px;
  --typography-body-font-size-md: 16px;
  --typography-body-font-size-lg: 18px;
  --typography-body-font-size-xl: 22px;
  --typography-button-font-weigh: 400;
  --typography-button-input-font-weigh: 400;
  --typography-button-input-font-size-sm: 15px;
  --typography-button-input-font-size-md: 18px;
  --typography-button-input-font-size-lg: 22px;
  --typography-button-font-size-sm: 13px;
  --typography-button-font-size-md: 14px;
  --typography-button-font-size-lg: 18px;
  --typography-display-font-size-h1-sm: 36px;
  --typography-display-font-size-h1-lg: 48px;
  --typography-display-font-size-h1-md: 48px;
  --typography-display-font-size-h2-sm: 22px;
  --typography-display-font-size-h2-md: 28px;
  --typography-display-font-size-h2-lg: 42px;
  --typography-display-font-weight-h1: 400px;
  --typography-display-font-weight-h2: 400px;
  --typography-form-input-text-font-weigh: 400px;
  --typography-form-label-font-weigh: 500px;
  --typography-form-label-font-size-lg: 12px;
  --typography-form-label-font-size-md: 12px;
  --typography-form-label-font-size-sm: 12px;
  --typography-heading-font-weight: 400px;
  --typography-heading-font-size-h6: 16px;
  --typography-heading-font-size-h5: 20px;
  --typography-heading-font-size-h4: 22px;
  --typography-heading-font-size-h3: 24px;
  --typography-heading-font-size-h2: 42px;
  --typography-heading-font-size-h1: 48px;
  --typography-nav-font-weight: 400px;
  --typography-nav-font-size-sm: 13px;
  --typography-nav-font-size-sm-m: 13px;
  --typography-nav-font-size-md: 15px;
  --typography-nav-font-size-lg: 18px;
  --typography-nav-font-size-xl: 20px;
  --typography-numbers-font-size-md: 40px;
  --typography-numbers-font-size-sm: 40px;
  --typography-numbers-font-size-lg: 72px;
  --typography-title-font-weigh: 400px;
  --typography-title-font-size-sm-m: 13px;
  --typography-title-font-size-sm: 14px;
  --typography-title-font-size-md: 16px;
  --typography-title-font-size-lg: 20px;
  --typography-title-font-size-xl: 24px;
  --typography-title-font-size-xxl: 28px;
  --typography-title-font-size-xxxl: 38px;
  --typography-title-font-size-xxxxl: 42px;
  --up-button-padding: 12px;
  --up-button-border-radius: 16px;
  --up-button-ic: 24px;
  /* string */
  --assets-footer: tablet-lg;
  --assets-main-header: tablet-lg;
  --assets-top-header: tablet-lg;
  --typography-font-family: SF Pro;
  --typography-font-family-accent: Zapfino;
}
[data-windowsize="tablet"] {
  /* number */
  --breakpoint: 768px;
  --accordeon-list-gap: 2px;
  --accordeon-body-border-radius-non: 0px;
  --accordeon-body-border-radius-md: 24px;
  --accordeon-body-padding-x-non: 0px;
  --accordeon-body-padding-x-md: 24px;
  --accordeon-body-padding-y-non: 0px;
  --accordeon-body-padding-y-md: 24px;
  --accordeon-header-border-radius-non: 0px;
  --accordeon-header-border-radius-md: 24px;
  --accordeon-header-ic-md: 20px;
  --accordeon-header-min-height-md: 68px;
  --accordeon-header-padding-x-md: 24px;
  --accordeon-header-padding-y-md: 24px;
  --accordeon-wrap-border-radius-md: 16px;
  --actions-gap: 16px;
  --actions-inner-gap-sm: 4px;
  --actions-inner-gap-md: 8px;
  --actions-inner-gap-lg: 16px;
  --actions-padding-sm: 16px;
  --actions-padding-lg: 80px;
  --actions-padding-md: 80px;
  --alert-border-radius-sm: 12px;
  --alert-border-radius-md: 16px;
  --alert-gap-md: 16px;
  --alert-gap-sm: 16px;
  --alert-inner-gap-sm: 4px;
  --alert-inner-gap-md: 8px;
  --alert-wrap-padding-sm: 8px;
  --alert-wrap-padding-md: 16px;
  --author-wrap-border-radius-md: 24px;
  --author-wrap-gap-md: 24px;
  --author-wrap-inner-gap-md: 4px;
  --author-wrap-padding-md: 32px;
  --banner-img-height: 400px;
  --block-title-padding-y-sm: 24px;
  --block-title-padding-y-lg: 60px;
  --block-title-padding-y-md: 60px;
  --breadcrambs-gap-sm: 8px;
  --breadcrambs-padding-sm: 4px;
  --button-border: 1px;
  --button-input-border: 1px;
  --button-input-gap-md: 4px;
  --button-input-gap-sm: 4px;
  --button-input-gap-lg: 8px;
  --button-input-height-sm: 40px;
  --button-input-height-md: 46px;
  --button-input-height-lg: 56px;
  --button-input-ic-size-sm: 16px;
  --button-input-ic-size-md: 18px;
  --button-input-ic-size-lg: 24px;
  --button-input-padding-x-md: 16px;
  --button-input-padding-x-sm: 16px;
  --button-input-padding-x-lg: 20px;
  --button-input-padding-y-sm: 8px;
  --button-input-padding-y-md: 16px;
  --button-input-padding-y-lg: 20px;
  --button-input-radius-lg: 100px;
  --button-input-radius-md: 100px;
  --button-input-radius-sm: 100px;
  --button-gap-lg: 8px;
  --button-gap-md: 8px;
  --button-gap-sm: 8px;
  --button-height-sm: 32px;
  --button-height-md: 50px;
  --button-height-lg: 80px;
  --button-ic-size-sm: 16px;
  --button-ic-size-md: 18px;
  --button-ic-size-lg: 24px;
  --button-padding-x-sm: 16px;
  --button-padding-x-md: 24px;
  --button-padding-x-lg: 30px;
  --button-padding-x2-lg: 4px;
  --button-padding-x2-md: 4px;
  --button-padding-x2-sm: 4px;
  --button-padding-y-md: 16px;
  --button-padding-y-sm: 16px;
  --button-padding-y-lg: 20px;
  --button-padding-y2-lg: 4px;
  --button-padding-y2-md: 4px;
  --button-padding-y2-sm: 4px;
  --button-radius-lg: 0px;
  --button-radius-md: 0px;
  --button-radius-sm: 0px;
  --card-list-gap-xs: 4px;
  --card-list-gap-sm: 8px;
  --card-list-gap-md: 16px;
  --card-list-gap-lg: 24px;
  --card-list-gap-xl: 32px;
  --card-list-gap-xxl: 60px;
  --card-list-gap-xxxl: 80px;
  --card-border-radius-non: 0px;
  --card-border-radius-sm: 14px;
  --card-border-radius-md: 16px;
  --card-border-radius-lg: 24px;
  --card-gap-non: 0px;
  --card-gap-md: 16px;
  --card-gap-lg: 24px;
  --card-gap-xl: 32px;
  --card-gap-xxl: 60px;
  --card-wrap-padding-non: 0px;
  --card-wrap-padding-xs: 8px;
  --card-wrap-padding-sm: 12px;
  --card-wrap-padding-md: 24px;
  --card-wrap-padding-lg: 40px;
  --card-wrap-padding-xl: 48px;
  --card-wrap-padding-xxl: 60px;
  --card-wrap-padding-xxxl: 80px;
  --checkbox-radiobutton-correcting-padding-y-lg: 0px;
  --checkbox-radiobutton-correcting-padding-y-md: 0px;
  --checkbox-radiobutton-correcting-padding-y-sm: 0px;
  --checkbox-radiobutton-gap-md: 10px;
  --checkbox-radiobutton-gap-sm: 10px;
  --checkbox-radiobutton-ic-sm: 16px;
  --checkbox-radiobutton-ic-md: 18px;
  --checkbox-radiobutton-radius-md: 8px;
  --checkbox-radiobutton-radius-sm: 8px;
  --checkbox-radiobutton-radius-full: 999px;
  --checkbox-radiobutton-w-h-sm: 24px;
  --checkbox-radiobutton-w-h-md: 28px;
  --container-padding: 24px;
  --container-border-radius-md: 24px;
  --container-max-width-lg: 1300px;
  --container-max-width-md: 1300px;
  --container-max-width-sm: 1300px;
  --container-max-width-xl: 1300px;
  --container-max-width-xs: 1300px;
  --container-warp-padding-x-lg: 60px;
  --container-warp-padding-y-lg: 60px;
  --content-padding-md: 24px;
  --cookie-wrap-padding: 8px;
  --cookie-wrap-gap: 16px;
  --drop-menu-correcting-padding: 16px;
  --drop-menu-col-max-width: 240px;
  --drop-menu-gap-inner: 8px;
  --drop-menu-gap-outter: 16px;
  --drop-menu-item-gap-sm: 12px;
  --drop-menu-item-gap-md: 14px;
  --drop-menu-item-gap-lg: 16px;
  --drop-menu-item-gap-xl: 16px;
  --drop-menu-item-ic-sm: 16px;
  --drop-menu-item-ic-md: 18px;
  --drop-menu-item-ic-lg: 20px;
  --drop-menu-item-ic-xl: 20px;
  --drop-menu-item-padding-md: 6px;
  --drop-menu-item-padding-sm: 6px;
  --drop-menu-item-padding-lg: 8px;
  --drop-menu-item-padding-xl: 16px;
  --drop-menu-radius-sm: 12px;
  --drop-menu-radius-md: 24px;
  --drop-menu-wrap-padding-sm: 16px;
  --drop-menu-wrap-padding-lg: 24px;
  --footer-gap: 32px;
  --footer-padding-x: 60px;
  --footer-bottom-gap: 16px;
  --footer-bottom-padding-y: 16px;
  --footer-bottom-min-height: 70px;
  --footer-form-wrap-padding: 0px;
  --footer-form-wrap-radius: 0px;
  --footer-form-wrap-gap: 24px;
  --footer-form-wrap-max-width: 460px;
  --footer-title-padding-y-lg: 16px;
  --footer-title-padding-y-md: 16px;
  --footer-title-padding-y-sm: 16px;
  --form-border-outlined-focused: 1px;
  --form-border-underlined-focused: 2px;
  --form-constructor-gap-md: 24px;
  --form-constructor-gap-lg: 60px;
  --form-height-sm: 40px;
  --form-height-md: 50px;
  --form-height-lg: 56px;
  --form-helper-text-padding-y-sm: 2px;
  --form-helper-text-padding-y-lg: 4px;
  --form-helper-text-padding-y-md: 4px;
  --form-ic-sm: 16px;
  --form-ic-md: 18px;
  --form-ic-lg: 20px;
  --form-input-padding-x-non: 0px;
  --form-input-padding-x-sm: 12px;
  --form-input-padding-x-lg: 16px;
  --form-input-padding-x-md: 16px;
  --form-input-padding-y-sm: 8px;
  --form-input-padding-y-lg: 16px;
  --form-input-padding-y-md: 16px;
  --form-label-padding-y-lg: 6px;
  --form-label-padding-y-md: 6px;
  --form-label-padding-y-sm: 6px;
  --form-radius-lg: 0px;
  --form-radius-md: 0px;
  --form-radius-sm: 0px;
  --gallery-gap-md: 4px;
  --gallery-gap-sm: 4px;
  --gallery-slider-gap: 16px;
  --gallery-slider-height: 300px;
  --gallery-wrap-border-radius: 24px;
  --grid-gap-xxs: 16px;
  --grid-gap-xs: 24px;
  --grid-gap-sm: 40px;
  --grid-gap-lg: 60px;
  --grid-gap-md: 60px;
  --grid-max-width-lg: 960px;
  --grid-max-width-md: 960px;
  --grid-max-width-sm: 960px;
  --grid-padding-lg-0: 0px;
  --grid-padding-md-0: 0px;
  --grid-padding-non: 0px;
  --grid-padding-sm-0: 0px;
  --grid-padding-xs-0: 0px;
  --grid-padding-0-xs: 16px;
  --grid-padding-xs: 16px;
  --grid-padding-0-sm: 32px;
  --grid-padding-sm: 32px;
  --grid-padding-0-md: 80px;
  --grid-padding-md: 80px;
  --grid-padding-0-lg: 160px;
  --grid-padding-lg: 160px;
  --header-main-container-padding: 16px;
  --header-main-padding-x: 16px;
  --header-main-height: 66px;
  --header-main-border-radius-md: 16px;
  --header-main-gap-inner: 4px;
  --header-main-gap-outter: 16px;
  --header-main-nav-list-gap: 0px;
  --header-main-nav-list-gap-state-2: 0px;
  --header-top-haight: 32px;
  --header-top-gap-inner: 8px;
  --header-top-gap-outter: 16px;
  --icon-padding-sm: 8px;
  --icon-padding-md: 16px;
  --icon-padding-lg: 24px;
  --icon-radius-default: 16px;
  --icon-w-h-sm: 20px;
  --icon-w-h-lg: 24px;
  --icon-w-h-md: 24px;
  --img-radius-sm: 8px;
  --img-radius-md: 24px;
  --img-radius-full: 999px;
  --logo-list-item-border-radius: 0px;
  --logo-list-item-img-wrap-padding-y: 8px;
  --logo-list-item-img-wrap-padding-x: 24px;
  --logo-list-item-width: 186px;
  --modal-close-btn-padding-sm: 4px;
  --modal-close-btn-padding-md: 16px;
  --modal-close-btn-padding-lg: 24px;
  --modal-header-gap-sm: 4px;
  --modal-header-gap-md: 8px;
  --modal-padding-sm: 16px;
  --modal-padding-md: 24px;
  --modal-padding-lg: 160px;
  --modal-width-sm: 320px;
  --modal-width-md: 580px;
  --modal-width-lg: 960px;
  --modal-wrap-border-radius-non: 0px;
  --modal-wrap-border-radius-sm: 12px;
  --modal-wrap-border-radius-md: 16px;
  --nav-link-decor-deco-width: 2px;
  --nav-link-decor-padding-x-lg: 16px;
  --nav-link-decor-padding-x-md: 16px;
  --nav-link-decor-padding-x-sm: 16px;
  --nav-link-decor-padding-x-xl: 16px;
  --nav-link-gap-lg: 4px;
  --nav-link-gap-md: 4px;
  --nav-link-gap-sm: 4px;
  --nav-link-gap-xl: 8px;
  --nav-link-ic-sm: 16px;
  --nav-link-ic-md: 18px;
  --nav-link-ic-lg: 20px;
  --nav-link-ic-xl: 20px;
  --nav-link-padding-sm: 6px;
  --nav-link-padding-md: 7px;
  --nav-link-padding-lg: 8px;
  --nav-link-padding-xl: 10px;
  --nav-pill-border-radius-lg: 100px;
  --nav-pill-border-radius-md: 100px;
  --nav-pill-border-radius-sm: 100px;
  --nav-pill-border-radius-xl: 100px;
  --nav-pill-padding-md: 12px;
  --nav-pill-padding-sm: 12px;
  --nav-pill-padding-lg: 16px;
  --nav-pill-padding-xl: 16px;
  --offcanvas-header-gap-sm: 4px;
  --offcanvas-header-gap-md: 8px;
  --offcanvas-padding-sm: 24px;
  --offcanvas-padding-md: 32px;
  --offcanvas-width-xs: 220px;
  --offcanvas-width-sm: 320px;
  --offcanvas-width-md: 480px;
  --offcanvas-wrap-border-radius-sm: 12px;
  --offcanvas-wrap-border-radius-md: 16px;
  --pagination-border-radius-lg: 999px;
  --pagination-border-radius-md: 999px;
  --pagination-border-radius-sm: 999px;
  --pagination-gap-non: 0px;
  --pagination-gap-sm: 4px;
  --pagination-ic-size-md: 18px;
  --pagination-ic-size-sm: 18px;
  --pagination-ic-size-lg: 24px;
  --pagination-padding-x-sm: 16px;
  --pagination-padding-x-md: 18px;
  --pagination-padding-x-lg: 24px;
  --pagination-padding-y-sm: 10px;
  --pagination-padding-y-md: 12px;
  --pagination-padding-y-lg: 16px;
  --pagination-w-h-md: 48px;
  --pagination-w-h-sm: 52px;
  --pagination-wrap-border-radius-sm: 12px;
  --pagination-wrap-border-radius-md: 16px;
  --pagination-wrap-border-radius-lg: 24px;
  --pictogram-padding-sm: 8px;
  --pictogram-padding-lg: 16px;
  --pictogram-padding-md: 16px;
  --pictogram-w-h-sm: 24px;
  --pictogram-w-h-md: 32px;
  --pictogram-w-h-lg: 42px;
  --profile-xs: 40px;
  --profile-sm: 48px;
  --profile-md: 64px;
  --profile-lg: 100px;
  --section-border-radius: 32px;
  --separator-non: 0px;
  --separator-xs: 16px;
  --separator-sm: 32px;
  --separator-md: 80px;
  --separator-lg: 200px;
  --share-article-padding: 16px;
  --sidebar-width-xs: 220px;
  --sidebar-width-sm: 320px;
  --sidebar-width-md: 480px;
  --social-min-width: 100px;
  --social-ic-md: 20px;
  --social-ic-sm: 20px;
  --social-ic-lg: 22px;
  --social-list-gap-md: 4px;
  --social-list-gap-lg: 8px;
  --social-list-padding-y-md: 16px;
  --social-radius-md: 999px;
  --social-w-h-xxs: 16px;
  --social-w-h-xs: 22px;
  --social-w-h-sm: 30px;
  --social-w-h-md: 36px;
  --social-w-h-lg: 50px;
  --steps-padding-bottom: 0px;
  --steps-gap-md: 16px;
  --steps-info-padding-bottom-md: 32px;
  --steps-info-padding-top-md: 7px;
  --steps-number-wrap-border-radius-md: 16px;
  --steps-number-wrap-padding-md: 8px;
  --steps-number-wrap-w-h-md: 40px;
  --table-cell-padding-sm: 8px;
  --table-cell-padding-md: 16px;
  --table-gap-non: 0px;
  --table-gap-sm: 24px;
  --table-gap-md: 32px;
  --table-wrap-border-radius-sm: 12px;
  --table-wrap-border-radius-md: 16px;
  --text-editor-heading-padding-y: 32px;
  --text-editor-img-padding-y: 32px;
  --text-editor-body-padding-y-sm: 16px;
  --text-editor-body-padding-y-lg: 32px;
  --text-editor-body-padding-y-md: 32px;
  --text-editor-body-padding-y-xl: 32px;
  --typography-body-font-size-sm-m: 13px;
  --typography-body-font-size-sm: 14px;
  --typography-body-font-size-md: 16px;
  --typography-body-font-size-lg: 18px;
  --typography-body-font-size-xl: 22px;
  --typography-button-font-weigh: 400;
  --typography-button-input-font-weigh: 400;
  --typography-button-input-font-size-sm: 15px;
  --typography-button-input-font-size-md: 18px;
  --typography-button-input-font-size-lg: 22px;
  --typography-button-font-size-sm: 13px;
  --typography-button-font-size-md: 14px;
  --typography-button-font-size-lg: 18px;
  --typography-display-font-size-h1-md: 36px;
  --typography-display-font-size-h1-sm: 36px;
  --typography-display-font-size-h1-lg: 42px;
  --typography-display-font-size-h2-sm: 22px;
  --typography-display-font-size-h2-md: 28px;
  --typography-display-font-size-h2-lg: 32px;
  --typography-display-font-weight-h1: 400px;
  --typography-display-font-weight-h2: 400px;
  --typography-form-input-text-font-weigh: 400px;
  --typography-form-label-font-weigh: 500px;
  --typography-form-label-font-size-lg: 12px;
  --typography-form-label-font-size-md: 12px;
  --typography-form-label-font-size-sm: 12px;
  --typography-heading-font-weight: 400px;
  --typography-heading-font-size-h6: 16px;
  --typography-heading-font-size-h5: 20px;
  --typography-heading-font-size-h4: 22px;
  --typography-heading-font-size-h3: 24px;
  --typography-heading-font-size-h1: 32px;
  --typography-heading-font-size-h2: 42px;
  --typography-nav-font-weight: 400px;
  --typography-nav-font-size-sm: 13px;
  --typography-nav-font-size-sm-m: 13px;
  --typography-nav-font-size-md: 15px;
  --typography-nav-font-size-lg: 18px;
  --typography-nav-font-size-xl: 20px;
  --typography-numbers-font-size-sm: 32px;
  --typography-numbers-font-size-md: 36px;
  --typography-numbers-font-size-lg: 48px;
  --typography-title-font-weigh: 400px;
  --typography-title-font-size-sm-m: 13px;
  --typography-title-font-size-sm: 14px;
  --typography-title-font-size-md: 16px;
  --typography-title-font-size-lg: 20px;
  --typography-title-font-size-xl: 24px;
  --typography-title-font-size-xxl: 28px;
  --typography-title-font-size-xxxl: 38px;
  --typography-title-font-size-xxxxl: 42px;
  --up-button-border-radius: 16px;
  --up-button-padding: 16px;
  --up-button-ic: 24px;
  /* string */
  --assets-footer: tablet;
  --assets-main-header: tablet;
  --assets-top-header: tablet;
  --typography-font-family: SF Pro;
  --typography-font-family-accent: Zapfino;
}
[data-windowsize="mobile"] {
  /* number */
  --breakpoint: 360px;
  --accordeon-list-gap: 2px;
  --accordeon-body-border-radius-non: 0px;
  --accordeon-body-border-radius-md: 24px;
  --accordeon-body-padding-x-non: 0px;
  --accordeon-body-padding-x-md: 24px;
  --accordeon-body-padding-y-non: 0px;
  --accordeon-body-padding-y-md: 24px;
  --accordeon-header-border-radius-non: 0px;
  --accordeon-header-border-radius-md: 24px;
  --accordeon-header-ic-md: 20px;
  --accordeon-header-min-height-md: 68px;
  --accordeon-header-padding-x-md: 24px;
  --accordeon-header-padding-y-md: 24px;
  --accordeon-wrap-border-radius-md: 16px;
  --actions-gap: 16px;
  --actions-inner-gap-sm: 4px;
  --actions-inner-gap-md: 8px;
  --actions-inner-gap-lg: 16px;
  --actions-padding-sm: 16px;
  --actions-padding-lg: 80px;
  --actions-padding-md: 80px;
  --alert-border-radius-sm: 12px;
  --alert-border-radius-md: 16px;
  --alert-gap-md: 16px;
  --alert-gap-sm: 16px;
  --alert-inner-gap-sm: 4px;
  --alert-inner-gap-md: 8px;
  --alert-wrap-padding-sm: 8px;
  --alert-wrap-padding-md: 16px;
  --author-wrap-border-radius-md: 24px;
  --author-wrap-gap-md: 24px;
  --author-wrap-inner-gap-md: 4px;
  --author-wrap-padding-md: 32px;
  --banner-img-height: 360px;
  --block-title-padding-y-sm: 24px;
  --block-title-padding-y-lg: 80px;
  --block-title-padding-y-md: 80px;
  --breadcrambs-gap-sm: 8px;
  --breadcrambs-padding-sm: 4px;
  --button-border: 1px;
  --button-input-border: 1px;
  --button-input-gap-md: 4px;
  --button-input-gap-sm: 4px;
  --button-input-gap-lg: 8px;
  --button-input-height-sm: 40px;
  --button-input-height-md: 46px;
  --button-input-height-lg: 56px;
  --button-input-ic-size-sm: 16px;
  --button-input-ic-size-md: 18px;
  --button-input-ic-size-lg: 24px;
  --button-input-padding-x-md: 16px;
  --button-input-padding-x-sm: 16px;
  --button-input-padding-x-lg: 20px;
  --button-input-padding-y-sm: 8px;
  --button-input-padding-y-md: 16px;
  --button-input-padding-y-lg: 20px;
  --button-input-radius-lg: 100px;
  --button-input-radius-md: 100px;
  --button-input-radius-sm: 100px;
  --button-gap-lg: 8px;
  --button-gap-md: 8px;
  --button-gap-sm: 8px;
  --button-height-sm: 32px;
  --button-height-md: 50px;
  --button-height-lg: 80px;
  --button-ic-size-sm: 16px;
  --button-ic-size-md: 18px;
  --button-ic-size-lg: 24px;
  --button-padding-x-sm: 16px;
  --button-padding-x-md: 24px;
  --button-padding-x-lg: 30px;
  --button-padding-x2-lg: 4px;
  --button-padding-x2-md: 4px;
  --button-padding-x2-sm: 4px;
  --button-padding-y-md: 16px;
  --button-padding-y-sm: 16px;
  --button-padding-y-lg: 20px;
  --button-padding-y2-lg: 4px;
  --button-padding-y2-md: 4px;
  --button-padding-y2-sm: 4px;
  --button-radius-lg: 0px;
  --button-radius-md: 0px;
  --button-radius-sm: 0px;
  --card-list-gap-xs: 4px;
  --card-list-gap-sm: 8px;
  --card-list-gap-md: 16px;
  --card-list-gap-lg: 24px;
  --card-list-gap-xl: 32px;
  --card-list-gap-xxl: 60px;
  --card-list-gap-xxxl: 80px;
  --card-border-radius-non: 0px;
  --card-border-radius-sm: 14px;
  --card-border-radius-md: 16px;
  --card-border-radius-lg: 24px;
  --card-gap-non: 0px;
  --card-gap-md: 16px;
  --card-gap-lg: 24px;
  --card-gap-xl: 32px;
  --card-gap-xxl: 60px;
  --card-wrap-padding-non: 0px;
  --card-wrap-padding-xs: 8px;
  --card-wrap-padding-sm: 12px;
  --card-wrap-padding-md: 24px;
  --card-wrap-padding-lg: 32px;
  --card-wrap-padding-xl: 32px;
  --card-wrap-padding-xxl: 32px;
  --card-wrap-padding-xxxl: 32px;
  --checkbox-radiobutton-correcting-padding-y-lg: 0px;
  --checkbox-radiobutton-correcting-padding-y-md: 0px;
  --checkbox-radiobutton-correcting-padding-y-sm: 0px;
  --checkbox-radiobutton-gap-md: 10px;
  --checkbox-radiobutton-gap-sm: 10px;
  --checkbox-radiobutton-ic-sm: 16px;
  --checkbox-radiobutton-ic-md: 18px;
  --checkbox-radiobutton-radius-md: 8px;
  --checkbox-radiobutton-radius-sm: 8px;
  --checkbox-radiobutton-radius-full: 999px;
  --checkbox-radiobutton-w-h-sm: 24px;
  --checkbox-radiobutton-w-h-md: 28px;
  --container-padding: 16px;
  --container-border-radius-md: 24px;
  --container-max-width-lg: 1300px;
  --container-max-width-md: 1300px;
  --container-max-width-sm: 1300px;
  --container-max-width-xl: 1300px;
  --container-max-width-xs: 1300px;
  --container-warp-padding-x-lg: 16px;
  --container-warp-padding-y-lg: 60px;
  --content-padding-md: 24px;
  --cookie-wrap-gap: 16px;
  --cookie-wrap-padding: 16px;
  --drop-menu-correcting-padding: 16px;
  --drop-menu-col-max-width: 240px;
  --drop-menu-gap-inner: 8px;
  --drop-menu-gap-outter: 16px;
  --drop-menu-item-gap-sm: 12px;
  --drop-menu-item-gap-md: 14px;
  --drop-menu-item-gap-lg: 16px;
  --drop-menu-item-gap-xl: 16px;
  --drop-menu-item-ic-sm: 16px;
  --drop-menu-item-ic-md: 18px;
  --drop-menu-item-ic-lg: 20px;
  --drop-menu-item-ic-xl: 20px;
  --drop-menu-item-padding-md: 6px;
  --drop-menu-item-padding-sm: 6px;
  --drop-menu-item-padding-lg: 16px;
  --drop-menu-item-padding-xl: 16px;
  --drop-menu-radius-sm: 12px;
  --drop-menu-radius-md: 24px;
  --drop-menu-wrap-padding-sm: 16px;
  --drop-menu-wrap-padding-lg: 24px;
  --footer-padding-x: 16px;
  --footer-gap: 60px;
  --footer-bottom-gap: 16px;
  --footer-bottom-padding-y: 16px;
  --footer-bottom-min-height: 70px;
  --footer-form-wrap-padding: 0px;
  --footer-form-wrap-radius: 0px;
  --footer-form-wrap-gap: 24px;
  --footer-form-wrap-max-width: 460px;
  --footer-title-padding-y-lg: 16px;
  --footer-title-padding-y-md: 16px;
  --footer-title-padding-y-sm: 16px;
  --form-border-outlined-focused: 1px;
  --form-border-underlined-focused: 2px;
  --form-constructor-gap-md: 24px;
  --form-constructor-gap-lg: 60px;
  --form-height-sm: 40px;
  --form-height-md: 50px;
  --form-height-lg: 56px;
  --form-helper-text-padding-y-sm: 2px;
  --form-helper-text-padding-y-lg: 4px;
  --form-helper-text-padding-y-md: 4px;
  --form-ic-sm: 16px;
  --form-ic-md: 18px;
  --form-ic-lg: 20px;
  --form-input-padding-x-non: 0px;
  --form-input-padding-x-sm: 12px;
  --form-input-padding-x-lg: 16px;
  --form-input-padding-x-md: 16px;
  --form-input-padding-y-sm: 8px;
  --form-input-padding-y-lg: 16px;
  --form-input-padding-y-md: 16px;
  --form-label-padding-y-lg: 6px;
  --form-label-padding-y-md: 6px;
  --form-label-padding-y-sm: 6px;
  --form-radius-lg: 0px;
  --form-radius-md: 0px;
  --form-radius-sm: 0px;
  --gallery-gap-md: 4px;
  --gallery-gap-sm: 4px;
  --gallery-slider-gap: 16px;
  --gallery-slider-height: 208px;
  --gallery-wrap-border-radius: 16px;
  --grid-gap-xxs: 16px;
  --grid-gap-xs: 24px;
  --grid-gap-sm: 40px;
  --grid-gap-lg: 60px;
  --grid-gap-md: 60px;
  --grid-max-width-lg: 960px;
  --grid-max-width-md: 960px;
  --grid-max-width-sm: 960px;
  --grid-padding-lg-0: 0px;
  --grid-padding-md-0: 0px;
  --grid-padding-non: 0px;
  --grid-padding-sm-0: 0px;
  --grid-padding-xs-0: 0px;
  --grid-padding-0-xs: 16px;
  --grid-padding-xs: 16px;
  --grid-padding-0-sm: 32px;
  --grid-padding-sm: 32px;
  --grid-padding-0-lg: 80px;
  --grid-padding-0-md: 80px;
  --grid-padding-lg: 80px;
  --grid-padding-md: 80px;
  --header-main-container-padding: 8px;
  --header-main-padding-x: 16px;
  --header-main-height: 66px;
  --header-main-border-radius-md: 16px;
  --header-main-gap-inner: 4px;
  --header-main-gap-outter: 16px;
  --header-main-nav-list-gap: 0px;
  --header-main-nav-list-gap-state-2: 0px;
  --header-top-haight: 32px;
  --header-top-gap-inner: 8px;
  --header-top-gap-outter: 16px;
  --icon-padding-sm: 8px;
  --icon-padding-md: 16px;
  --icon-padding-lg: 24px;
  --icon-radius-default: 16px;
  --icon-w-h-sm: 20px;
  --icon-w-h-lg: 24px;
  --icon-w-h-md: 24px;
  --img-radius-sm: 8px;
  --img-radius-md: 24px;
  --img-radius-full: 999px;
  --logo-list-item-border-radius: 0px;
  --logo-list-item-img-wrap-padding-y: 8px;
  --logo-list-item-img-wrap-padding-x: 16px;
  --logo-list-item-width: 158px;
  --modal-close-btn-padding-lg: 4px;
  --modal-close-btn-padding-md: 4px;
  --modal-close-btn-padding-sm: 4px;
  --modal-header-gap-sm: 4px;
  --modal-header-gap-md: 8px;
  --modal-padding-md: 16px;
  --modal-padding-sm: 16px;
  --modal-padding-lg: 24px;
  --modal-width-sm: 320px;
  --modal-width-md: 580px;
  --modal-width-lg: 960px;
  --modal-wrap-border-radius-non: 0px;
  --modal-wrap-border-radius-sm: 12px;
  --modal-wrap-border-radius-md: 16px;
  --nav-link-decor-deco-width: 2px;
  --nav-link-decor-padding-x-lg: 16px;
  --nav-link-decor-padding-x-md: 16px;
  --nav-link-decor-padding-x-sm: 16px;
  --nav-link-decor-padding-x-xl: 16px;
  --nav-link-gap-lg: 4px;
  --nav-link-gap-md: 4px;
  --nav-link-gap-sm: 4px;
  --nav-link-gap-xl: 8px;
  --nav-link-ic-sm: 16px;
  --nav-link-ic-md: 18px;
  --nav-link-ic-lg: 20px;
  --nav-link-ic-xl: 20px;
  --nav-link-padding-sm: 6px;
  --nav-link-padding-md: 7px;
  --nav-link-padding-lg: 8px;
  --nav-link-padding-xl: 10px;
  --nav-pill-border-radius-lg: 100px;
  --nav-pill-border-radius-md: 100px;
  --nav-pill-border-radius-sm: 100px;
  --nav-pill-border-radius-xl: 100px;
  --nav-pill-padding-md: 12px;
  --nav-pill-padding-sm: 12px;
  --nav-pill-padding-lg: 16px;
  --nav-pill-padding-xl: 16px;
  --offcanvas-header-gap-sm: 4px;
  --offcanvas-header-gap-md: 8px;
  --offcanvas-padding-sm: 24px;
  --offcanvas-padding-md: 32px;
  --offcanvas-width-xs: 220px;
  --offcanvas-width-sm: 320px;
  --offcanvas-width-md: 480px;
  --offcanvas-wrap-border-radius-sm: 12px;
  --offcanvas-wrap-border-radius-md: 16px;
  --pagination-border-radius-lg: 999px;
  --pagination-border-radius-md: 999px;
  --pagination-border-radius-sm: 999px;
  --pagination-gap-non: 0px;
  --pagination-gap-sm: 4px;
  --pagination-ic-size-md: 18px;
  --pagination-ic-size-sm: 18px;
  --pagination-ic-size-lg: 24px;
  --pagination-padding-x-sm: 16px;
  --pagination-padding-x-md: 18px;
  --pagination-padding-x-lg: 24px;
  --pagination-padding-y-sm: 10px;
  --pagination-padding-y-md: 12px;
  --pagination-padding-y-lg: 16px;
  --pagination-w-h-md: 48px;
  --pagination-w-h-sm: 52px;
  --pagination-wrap-border-radius-sm: 12px;
  --pagination-wrap-border-radius-md: 16px;
  --pagination-wrap-border-radius-lg: 24px;
  --pictogram-padding-sm: 8px;
  --pictogram-padding-lg: 16px;
  --pictogram-padding-md: 16px;
  --pictogram-w-h-sm: 24px;
  --pictogram-w-h-md: 32px;
  --pictogram-w-h-lg: 42px;
  --profile-xs: 40px;
  --profile-sm: 48px;
  --profile-md: 64px;
  --profile-lg: 100px;
  --section-border-radius: 24px;
  --separator-non: 0px;
  --separator-xs: 16px;
  --separator-sm: 32px;
  --separator-md: 80px;
  --separator-lg: 160px;
  --share-article-padding: 16px;
  --sidebar-width-xs: 220px;
  --sidebar-width-sm: 320px;
  --sidebar-width-md: 480px;
  --social-min-width: 100px;
  --social-ic-md: 20px;
  --social-ic-sm: 20px;
  --social-ic-lg: 22px;
  --social-list-gap-md: 4px;
  --social-list-gap-lg: 8px;
  --social-list-padding-y-md: 16px;
  --social-radius-md: 999px;
  --social-w-h-xxs: 16px;
  --social-w-h-xs: 22px;
  --social-w-h-sm: 30px;
  --social-w-h-md: 36px;
  --social-w-h-lg: 50px;
  --steps-padding-bottom: 0px;
  --steps-gap-md: 16px;
  --steps-info-padding-bottom-md: 32px;
  --steps-info-padding-top-md: 7px;
  --steps-number-wrap-border-radius-md: 16px;
  --steps-number-wrap-padding-md: 8px;
  --steps-number-wrap-w-h-md: 40px;
  --table-cell-padding-sm: 8px;
  --table-cell-padding-md: 16px;
  --table-gap-non: 0px;
  --table-gap-sm: 16px;
  --table-gap-md: 24px;
  --table-wrap-border-radius-sm: 12px;
  --table-wrap-border-radius-md: 16px;
  --text-editor-heading-padding-y: 32px;
  --text-editor-img-padding-y: 32px;
  --text-editor-body-padding-y-sm: 16px;
  --text-editor-body-padding-y-lg: 32px;
  --text-editor-body-padding-y-md: 32px;
  --text-editor-body-padding-y-xl: 32px;
  --typography-body-font-size-sm-m: 13px;
  --typography-body-font-size-sm: 14px;
  --typography-body-font-size-md: 16px;
  --typography-body-font-size-lg: 18px;
  --typography-body-font-size-xl: 22px;
  --typography-button-font-weigh: 400;
  --typography-button-input-font-weigh: 400;
  --typography-button-input-font-size-sm: 15px;
  --typography-button-input-font-size-md: 18px;
  --typography-button-input-font-size-lg: 22px;
  --typography-button-font-size-sm: 13px;
  --typography-button-font-size-md: 14px;
  --typography-button-font-size-lg: 18px;
  --typography-display-font-size-h1-md: 30px;
  --typography-display-font-size-h1-sm: 30px;
  --typography-display-font-size-h1-lg: 42px;
  --typography-display-font-size-h2-sm: 22px;
  --typography-display-font-size-h2-md: 28px;
  --typography-display-font-size-h2-lg: 32px;
  --typography-display-font-weight-h1: 400px;
  --typography-display-font-weight-h2: 400px;
  --typography-form-input-text-font-weigh: 400px;
  --typography-form-label-font-weigh: 500px;
  --typography-form-label-font-size-lg: 12px;
  --typography-form-label-font-size-md: 12px;
  --typography-form-label-font-size-sm: 12px;
  --typography-heading-font-weight: 400px;
  --typography-heading-font-size-h6: 16px;
  --typography-heading-font-size-h5: 18px;
  --typography-heading-font-size-h4: 22px;
  --typography-heading-font-size-h3: 24px;
  --typography-heading-font-size-h1: 32px;
  --typography-heading-font-size-h2: 32px;
  --typography-nav-font-weight: 400px;
  --typography-nav-font-size-sm: 13px;
  --typography-nav-font-size-sm-m: 13px;
  --typography-nav-font-size-md: 15px;
  --typography-nav-font-size-lg: 18px;
  --typography-nav-font-size-xl: 20px;
  --typography-numbers-font-size-md: 32px;
  --typography-numbers-font-size-sm: 32px;
  --typography-numbers-font-size-lg: 36px;
  --typography-title-font-weigh: 400px;
  --typography-title-font-size-sm-m: 13px;
  --typography-title-font-size-sm: 14px;
  --typography-title-font-size-md: 16px;
  --typography-title-font-size-lg: 20px;
  --typography-title-font-size-xl: 24px;
  --typography-title-font-size-xxl: 28px;
  --typography-title-font-size-xxxl: 38px;
  --typography-title-font-size-xxxxl: 42px;
  --up-button-border-radius: 16px;
  --up-button-padding: 16px;
  --up-button-ic: 24px;
  /* string */
  --assets-footer: mobile;
  --assets-main-header: mobile;
  --assets-top-header: mobile;
  --typography-font-family: SF Pro;
  --typography-font-family-accent: Zapfino;
}