@mixin bp($breakpoint) {
  @media (max-width: #{$breakpoint}px) {
    @content;
  }
}
.cards-wrapper, .row {
  display: grid;
  gap: var(--card-list-gap-md);
  --gap-size: var(--card-list-gap-md);
  &.lg{
    gap: var(--card-list-gap-lg);
    --gap-size: var(--card-list-gap-lg)
  }
  &.sm{
    gap: var(--card-list-gap-sm);
    --gap-size: var(--card-list-gap-sm)
  }
  &.xl{
    gap: var(--card-list-gap-xl);
    --gap-size: var(--card-list-gap-xl)
  }
  &.xxl{
    gap: var(--card-list-gap-xxl);
    --gap-size: var(--card-list-gap-xxl)
  }
  &.xxxl{
    gap: var(--card-list-gap-xxxl);
    --gap-size: var(--card-list-gap-xxxl)
  }
}
@mixin adaptive-grid($columns, $breakpoints: ()) {
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(100% / $columns - var(--gap-size)), 1fr)
  );

  @each $breakpoint, $cols in $breakpoints {
    @include bp($breakpoint) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(100% / $cols - var(--gap-size)), 1fr)
      );
    }
  }
}



.card-in-row-5{
  @include adaptive-grid(5, (1024: 4, 820: 2, 576: 1));
}
.card-in-row-4, .col-in-row-4 {
  @include adaptive-grid(4, (1024: 3, 820: 2, 576: 1));
}

.card-in-row-3, .col-in-row-3 {
  @include adaptive-grid(3, (820: 2, 576: 1));
}

.card-in-row-2, .col-in-row-2 {
  @include adaptive-grid(2, (576: 1));
}
.card-in-row-2-without-adaptive {
  @include adaptive-grid(2);
}

.card-in-row-1, .col-in-row-1 {
  @include adaptive-grid(1);
}
