@use "../../mixinsAndVariables/breakpoints.scss" as *;
.df {
    display: flex;
}
.jcsb {
    display: flex;
    justify-content: space-between;
}
.jcc {
    display: flex;
    justify-content: center;
}
.aic {
    display: flex;
    align-items: center;
}
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}
.no-margins {
    margin: 0;
}
.no-paddings {
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.zapfino-font {
    font-family: "Zapfino", "SFProDisplay", serif;
    font-style: italic;
}
.dn-1024 {
    @include bp-1024 {
        display: none;
    }
}
.dn-768 {
    @include bp-768 {
        display: none;
    }
}
.dn-576 {
    @include bp-576 {
        display: none;
    }
}
